<FlexboxLayout class="back center wh100">
    <GridLayout columns="*" rows="30,10,*,auto" width="90%">
        <FlexboxLayout class="flex wh100 center" row="1" rowSpan="2">
            <GridLayout rows="60,60,60,60,60,60" columns="auto,40,*" width="85%">

                <FlexboxLayout row="0" col="0" colSpan="3" class="podkr">
                </FlexboxLayout>
                <FlexboxLayout row="0" col="0" class="center" flexDirection="row">
                    <Label text="Obecność&#xA;na służbie" class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="0" col="1">
                    <Label [text]="this.pktZaObecnoscSluzba.toFixed(0)" class="lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="center" flexDirection="row" justifyContent="flex-end" row="0" col="2">
                    <Slider minValue="0" maxValue="10" value="1" [(ngModel)]="pktZaObecnoscSluzba" width="100%" backgroundColor="red"></Slider>
                </FlexboxLayout>

                <FlexboxLayout row="1" col="0" colSpan="3" class="podkr">
                </FlexboxLayout>
                <FlexboxLayout row="1" col="0" class="center" flexDirection="row">
                    <Label text="Nieobecność&#xA;na służbie" class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="1" col="1">
                        <Label [text]="this.pktZaNieobecnoscSluzba.toFixed(0)" class="lexend"></Label>
                    </FlexboxLayout>
                <FlexboxLayout class="center" flexDirection="row" justifyContent="flex-end" row="1" col="2">
                    <Slider minValue="-10" maxValue="0" [(ngModel)]="pktZaNieobecnoscSluzba" width="100%" backgroundColor="red"></Slider>
                </FlexboxLayout>

                <FlexboxLayout row="2" col="0" colSpan="3" class="podkr">
                </FlexboxLayout>
                <FlexboxLayout row="2" col="0" class="center" flexDirection="row">
                    <Label text="Obecność&#xA;na mszy dod." class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="2" col="1">
                        <Label [text]="this.pktZaDodatkowa.toFixed(0)" class="lexend"></Label>
                    </FlexboxLayout>
                <FlexboxLayout class="center" flexDirection="row" justifyContent="flex-end" row="2" col="2">
                    <Slider minValue="0" maxValue="10" [(ngModel)]="pktZaDodatkowa" width="100%" backgroundColor="red"></Slider>
                </FlexboxLayout>

                <FlexboxLayout row="3" col="0" colSpan="3" class="podkr">
                </FlexboxLayout>
                <FlexboxLayout row="3" col="0" class="center" flexDirection="row">
                    <Label text="Obecność&#xA;na nabożeństwie" class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="3" col="1">
                        <Label [text]="this.pktZaNabozenstwo.toFixed(0)" class="lexend"></Label>
                    </FlexboxLayout>
                <FlexboxLayout class="center" flexDirection="row" justifyContent="flex-end" row="3" col="2">
                    <Slider minValue="0" maxValue="10" [(ngModel)]="pktZaNabozenstwo" width="100%" backgroundColor="red"></Slider>
                </FlexboxLayout>

                <FlexboxLayout row="4" col="0" colSpan="3" class="podkr">
                </FlexboxLayout>
                <FlexboxLayout row="4" col="0" class="center" flexDirection="row">
                    <Label text="Obecność&#xA;na zbiórce" class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="4" col="1">
                        <Label [text]="this.pktZaObecnoscZbiorka.toFixed(0)" class="lexend"></Label>
                    </FlexboxLayout>
                <FlexboxLayout class="center" flexDirection="row" justifyContent="flex-end" row="4" col="2">
                    <Slider minValue="0" maxValue="10" [(ngModel)]="pktZaObecnoscZbiorka" width="100%" backgroundColor="red"></Slider>
                </FlexboxLayout>

                <FlexboxLayout row="5" col="0" class="center" flexDirection="row">
                    <Label text="Niebecność&#xA;na zbiórce" class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="5" col="1">
                        <Label [text]="this.pktZaNieobecnoscZbiorka.toFixed(0)" class="lexend"></Label>
                    </FlexboxLayout>
                <FlexboxLayout class="center" flexDirection="row" justifyContent="flex-end" row="5" col="2">
                    <Slider minValue="-10" maxValue="0" [(ngModel)]="pktZaNieobecnoscZbiorka" width="100%" backgroundColor="red"></Slider>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>

        <FlexboxLayout class="nowy center b-p-10" row="0" rowSpan="2">
            <Label text="Punktacja" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*" rows="60" row="3">
            <Button [text]="czyZmienione?'Anuluj':'Zamknij'" col="0" (tap)="anuluj()" class="anuluj b-p-10 audiowide"></Button>
            <Button text="Zapisz" col="1" (tap)="zapisz()" class="anuluj b-p-10 audiowide" [isEnabled]="!zapisywanie && czyZmienione" [ngClass]="{'active': czyZmienione, 'zapis': !czyZmienione}"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
