<FlexboxLayout class="back center wh100" (swipe)="onSwipe($event)">
    <GridLayout columns="*" rows="30,10,*,auto" width="90%">
        <FlexboxLayout class="flex wh100 center" row="1" rowSpan="2">
            <GridLayout rows="60,60" columns="auto,40,*" width="85%">

                <FlexboxLayout row="0" col="0" colSpan="3" class="podkr">
                </FlexboxLayout>
                <FlexboxLayout row="0" col="0" class="element center" flexDirection="row">
                    <Label text="Obecność" class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="0" col="1">
                    <Label [text]="pktZaObecnosc" class="lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="element center" flexDirection="row" justifyContent="flex-end" row="0" col="2">
                    <Slider minValue="0" maxValue="10" [(ngModel)]="pktZaObecnosc" width="100%" (valueChange)="zmien()"></Slider>
                </FlexboxLayout>

                <FlexboxLayout row="1" col="0" class="element center" flexDirection="row">
                    <Label text="Nieobecność" class="opis lexend"></Label>
                </FlexboxLayout>
                <FlexboxLayout class="punkty center" row="1" col="1">
                        <Label [text]="pktZaNieobecnosc" class="lexend"></Label>
                    </FlexboxLayout>
                <FlexboxLayout class="element center" flexDirection="row" justifyContent="flex-end" row="1" col="2">
                    <Slider minValue="-10" maxValue="0" [(ngModel)]="pktZaNieobecnosc" width="100%" (valueChange)="zmien()"></Slider>
                </FlexboxLayout>
            </GridLayout>
        </FlexboxLayout>

        <FlexboxLayout class="nowy center b-p-10" row="0" rowSpan="2">
            <Label text="Punktacja" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*" rows="60" row="3">
            <Button text="Anuluj" col="0" (tap)="anuluj()" class="anuluj b-p-10 audiowide"></Button>
            <Button text="Zapisz" col="1" (tap)="zapisz()" class="anuluj b-p-10 zapisz audiowide" [isEnabled]="zmiana && ((this.pktZaNieobecnosc !== this.poczNieobecnosc) || (this.pktZaObecnosc !== this.poczObecnosc))"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
