/* Add mobile styles for the component here.  */
.back
{
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.flex-center
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.grid
{
    width: 90%;
}


.flex
{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20%;
    border-width: 1;
    border-color: black;
    width: 100%;
    height: 100%;
}

.element
{
    margin-right: 10;
    height: 100%;
    align-items: center;
    flex-direction: row;
}

.j-flex-end
{
    justify-content: flex-end;
}

.anuluj
{
    padding: 1;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 10%;
    border-color: white;
    border-width: 2;
    margin: 10;
    font-size: 17;
}

.zapisz
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.zapisz:disabled
{
    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);
    border-color:  rgb(206, 206, 206);
}

.nowy
{
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 8%;
    padding: 1;
    margin:5;
    color: white;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
    border-radius: 10%;
    font-size: 17;
}

.przycisk
{
    color: rgb(40, 40, 40);
    font-weight: 500;
    background-color: white;
    border-radius: 20%;
    height: 30;
    padding: 0;
    margin: 3;
}


.punkty
{
    font-weight: 300;
    font-size: 17;
    color: #e71e25;
    margin-left: 4;
    margin-right: 4;
    text-align: center;
    width: 100%;
}

.opis
{
    text-wrap: true;
    color: rgb(80, 80, 80);
    font-size: 13;

}

.podkr
{
    border-bottom-width: 1;
    border-color: rgb(200, 200, 200);
}

.punkty
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10;
    margin-left: 5;
    margin-right: 5;
    background-color: rgb(40, 40, 40);
    color: white;
    font-size: 15;
    border-radius: 5%;
}
