<FlexboxLayout class="back wh100 center">
    <GridLayout columns="*" rows="30,10,*,auto" width="90%">
        <FlexboxLayout class="flex center wh100" row="1" rowSpan="2" [formGroup]="form">
            <StackLayout width="90%">
                <Label
                    text="Czy na pewno chcesz usunąć konto swojej parafii? Wszystkie dane zostaną utracone a Twoi podopieczni utracą możliwość logowania na swoje konta."
                    class="stand lexend"></Label>
                <Label text="Aby potwierdzić wykonywaną operację wprowadź swoje hasło:"
                    class="stand lexend" marginTop="10"></Label>
                <GridLayout columns="auto,*" rows="10,10,auto">
                    <FlexboxLayout class="input-field b-p-10 center backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                        <TextField hint="Wpisz swoje hasło" class="text-field lexend" formControlName="haslo"
                            autocapitalizationType="none" secure="true" #haslo></TextField>
                    </FlexboxLayout>
                    <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                        <Label text="HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                    </FlexboxLayout>
                </GridLayout>


                <Label text="Niepoprawne hasło" class="red lexend" *ngIf="!hasloValid"></Label>
            </StackLayout>
        </FlexboxLayout>

        <FlexboxLayout class="nowy b-p-10 center" row="0" rowSpan="2">
            <Label text="Usuń konto" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*" rows="60" row="3">
            <Button [text]="this.form.valid?'Anuluj':'Zamknij'" col="0" (tap)="anuluj()" class="anuluj b-p-10 audiowide"></Button>
            <Button text="Usuń" col="1" (tap)="zapisz()" class="anuluj b-p-10 zapisz audiowide"
                [isEnabled]="this.form.valid"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
