ListView
{
    background-color: black;
    margin: 0;
    padding: 0;
}

.grid
{
    height: 80;
}

.opis
{
    color: rgb(80, 80, 80);
    font-weight: 300;
    font-size: 13;
}

.pasek
{
    margin-left: 7;
    margin-right: 7;
    height: 3px;
    background-color: rgb(40, 40, 40);
}

.plus
{
    padding: 0;
    color: white;
    font-size: 7;
}
.cont
{
    padding: 0;
    /* height: 100%; */
}

.acion-cont
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    color: white;
    font-size: 17;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5;
    margin-bottom: 5;
}

.acion-cont:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
}

.marg-l-r
{
    margin-left: 7;
    margin-right: 7;
}

.index
{
    margin-left: 10;
    font-size: 13;
    color: white;
    font-weight: 200;
}

.index-admin
{
    margin-left: 10;
    font-size: 13;
    color: white;
    font-weight: 900;
}

.imie
{
    color: white;
    font-size: 15;
    font-weight: 200;
}

.imie-admin
{
    color: white;
    font-size: 16;
    font-weight: 900;
}

.punkty
{
    color: #e71e25;
    font-size: 15;
}


.strzalka
{
    padding: 0;
    background-color: black;
    color: #e71e25;
    height: 50;
    font-size: 15;
    margin-bottom: 2;
    margin-right: 5;
    border-radius: 5;
    text-align: right;
}

.lista
{
    background-color: black;
    margin-top: 5;
}

.szary
{
    background-color: #141414;
    border-radius: 10%;
    padding: 1;
}

.dodaj
{
    padding: 0;
    height: 40;
    width: 40;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.dodaj:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
}

.dodaj:disabled
{
    background: rgb(206, 206, 206);
}

.czarny
{
    margin-right: 2;
    color: black;
}

.sort-btn
{
    background-color: white;
    border-radius: 5%;
    flex-direction: row;
    padding: 1;
    font-size: 13;
    height: 30;
    margin-left: 3;
}

.sort-btn:disabled
{
    background-color: rgb(206, 206, 206);
    border-radius: 5%;
    flex-direction: row;
    padding: 1;
    font-size: 13;
    height: 30;
    margin-left: 3;
}

.brak
{
    color: #e71e25;
    font-weight: 300;
    text-wrap: true;
    text-align: center;
    font-size: 15;
}

.format
{
    background-color: transparent;
}
