<FlexboxLayout class="back center wh100">
    <GridLayout rows="auto" columns="auto,*,auto" class="grid">
        <Button class="sort-btn center" (tap)="zmianaSortu()" [isEnabled]="!ui.ladowane[1]">
            <FormattedString class="format">
                <Span text=" &#xe018;" class="opis center icon" fontSize="10"></Span>
                <Span text="Sortuj: " class="opis center audiowide"></Span>
                <Span [text]="sortujPoImieniu? 'Alfabetycznie ':'Ranking '" class="czarny audiowide"></Span>
            </FormattedString>
        </Button>

        <FlexboxLayout class="pasek center" col="1"></FlexboxLayout>

        <Button class="cont center dodaj" col="2" (tap)="nowyMinistrant()" [isEnabled]="!ui.ladowane[1]">
            <FormattedString class="format">
                <Span text="&#xe072;" class="icon plus" fontSize="11"></Span>
                <Span text="&#xe08f;" class="icon plus mini"></Span>
            </FormattedString>
        </Button>
    </GridLayout>

    <GridLayout class="lista">

        <Label text="Brak ministrantów na liście" class="brak lexend" *ngIf="ministranci.length === 0 && !ui.ladowane[1]"></Label>

        <ListView [items]="ministranci" *ngIf="!ui.ladowane[1]">
            <ng-template let-item="item" let-i="index">
                <GridLayout rows="40" columns="auto,*,auto" class="element" [ngClass]="{szary: i%2 === 0}"
                    (tap)="szczegolyMinistranta(item.id_user)" (longPress)="usunMinistranta(item)">

                    <FlexboxLayout col="0" class="center" flexDirection="row">
                        <Label [text]="sortujPoImieniu?i+1 + '. ' : (item.ranking === null ? '--. ' : item.ranking + '. ')" class="index lexend"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout col="1" class="center" alignItems="flex-start">
                        <Label [text]="item.nazwisko + ' ' + item.imie" class="imie lexend"></Label>
                    </FlexboxLayout>

                    <Button class="strzalka" (tap)="szczegolyMinistranta(item.id_user)" [ngClass]="{szary: i%2 === 0}" androidElevation="0" justifyContent="flex-end" col="2">
                        <FormattedString>
                            <Span [text]="item.punkty + ' pkt.'" class="lexend"></Span>
                            <Span text=" &#xe001;" fontSize="11" class="icon"></Span>
                        </FormattedString>
                    </Button>
                </GridLayout>
            </ng-template>
        </ListView>

        <FlexboxLayout class="wh100 center" *ngIf="ui.ladowane[1]">
                <ActivityIndicator [busy]="true"></ActivityIndicator>
        </FlexboxLayout>

    </GridLayout>

</FlexboxLayout>
