<FlexboxLayout class="back wh100 center">
    <GridLayout columns="*" rows="30,10,*,auto" width="90%">
        <GridLayout class="flex wh100" row="1" rowSpan="2" rows="*,*,*,*,*,*,*" columns="*">

            <ng-containter *ngIf="!ui.ladowane[6]">
                <FlexboxLayout [row]="i" col="0" class="wh100 center" *ngFor="let dzien of nazwyDni, let i = index">
                    <GridLayout columns="40,*,auto" rows="40" class="element">
                        <ns-checkbox [stan]="dni[i]" col="0" (checkStatus)="zmianaCheckboxa(i,$event)"></ns-checkbox>
                        <FlexboxLayout alignItems="center" col="1">
                            <Label [text]="dzien" class="text lexend"></Label>
                        </FlexboxLayout>
                        <Button [text]="godzina(i)" col="2" class="godzina audiowide" *ngIf="dni[i]" (tap)="wyborGodziny(i)"></Button>
                    </GridLayout>
                </FlexboxLayout>
            </ng-containter>

            <FlexboxLayout class="wh100 center" *ngIf="ui.ladowane[6]" rowSpan="7">
                    <ActivityIndicator [busy]="true"></ActivityIndicator>
            </FlexboxLayout>

        </GridLayout>

        <FlexboxLayout class="nowy b-p-10 center" row="0" rowSpan="2" alignItems="center">
                <Label text="Msze Święte" class="audiowide" fontSzie="17"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*" rows="60" row="3">
            <Button [text]="zmiana?'Anuluj':'Zamknij'" col="0" (tap)="anuluj()" class="anuluj b-p-10 audiowide" fontSzie="17"></Button>
            <Button text="Zapisz" col="1" (tap)="zapisz()" class="anuluj b-p-10 zapisz audiowide" fontSzie="17" [isEnabled]="zmiana" [ngClass]="{disabled: !zmiana}"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
