<GridLayout class="wh100"  (tap)="dismiss()">

<FlexboxLayout class="back center wh100">
    <GridLayout columns="*" rows="30,10,*,auto" class="grid">
        <FlexboxLayout class="flex center wh100" row="1" rowSpan="2">
            <ScrollView height="90%" #scroll *ngIf="!udanaRejP" (tap)="dismiss()">
                <StackLayout [formGroup]="formP">

                    <FlexboxLayout class="kontener center" height="100%" (tap)="focus()">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2" flexDirection="row">
                                <Label text="pw. " class="lexend" [ngClass]="{'szary': _wezwanie === '', 'bialy': _wezwanie !== ''}" marginLeft="5"></Label>
                                <TextField hint="np. Świętej Rodziny" class="text-field lexend" returnKeyType="next"
                                    autocapitalizationType="words" formControlName="wezwanie" #wezwanie width="81%"
                                    (returnPress)="displayActionDialog('rodzaj')">
                                </TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="WEZWANIE PARAFII" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>


                        <Label text="Wezwanie musi mieć od 2 do 30 znaków oraz składać się z polskiego alfabetu"
                            class="red lexend" *ngIf="!wezwanieValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%" (tap)="displayActionDialog('rodzaj')">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2" flexDirection="row">
                                <Label [text]="_rodzaj" class="text-field lexend" width="85%" [ngClass]="{'szary': _rodzaj === 'Wybierz rodzaj parafii'}"></Label>
                                <Label text="&#xe013;" class="icon" [ngClass]="{'szary': _rodzaj === 'Wybierz rodzaj parafii', 'bialy': _rodzaj !== 'Wybierz rodzaj parafii'}"></Label>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="RODZAJ PARAFII" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Wybierz rodzaj parafii" class="red lexend" *ngIf="!rodzajValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout row="2" class="kontener center" height="100%"
                        (tap)="displayActionDialog('diecezja')">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2" flexDirection="row">
                                <Label [text]="_diecezja" class="text-field lexend" width="85%" [ngClass]="{'szary': _diecezja === 'Wybierz diecezję'}"></Label>
                                <Label text="&#xe013;" class="icon" [ngClass]="{'szary': _diecezja === 'Wybierz diecezję', 'bialy': _diecezja !== 'Wybierz diecezję'}"></Label>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="DIECEZJA" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Wybierz diecezję" class="red lexend" *ngIf="!diecezjaValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2">
                                <TextField hint="Wpisz miasto" class="text-field lexend" returnKeyType="next"
                                    autocapitalizationType="words" formControlName="miasto" #miasto>
                                </TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="MIASTO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Miasto musi mieć od 2 do 30 znaków oraz składać się z polskiego alfabetu"
                            class="red lexend" *ngIf="!miastoValid"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout row="0" class="kontener center">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field b-p-10 center backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2">
                                <TextField hint="Wpisz swoje imię" class="text-field lexend"
                                    autocapitalizationType="words" formControlName="imie" #imie></TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="IMIĘ" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Imię musi być krótsze od 20 znaków oraz składać się z polskiego alfabetu" class="red lexend"
                            *ngIf="!imieValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout row="1" class="kontener center">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field b-p-10 center backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2">
                                <TextField hint="Wpisz swoje nazwisko" class="text-field lexend"
                                    autocapitalizationType="words" (returnPress)="displayActionDialog('stopien')"
                                    formControlName="nazwisko" #nazwisko>
                                </TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="NAZWISKO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Nazwisko musi być którsze od 20 znaków oraz składać się z polskiego alfabetu" class="red lexend"
                            *ngIf="!nazwiskoValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout row="2" class="kontener center" (tap)="displayActionDialog('stopien')">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field b-p-10 center backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2" flexDirection="row">
                                <Label [text]="_stopien" class="text-field lexend" width="85%" [ngClass]="{'szary': _stopien === 'Wybierz stopień'}"></Label>
                                <Label text="&#xe013;" class="icon" [ngClass]="{'szary': _stopien === 'Wybierz stopień', 'bialy': _stopien !== 'Wybierz stopień'}" fontSize="13"></Label>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="STOPIEŃ" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Wybierz stopień" class="red lexend" *ngIf="!stopienValid"></Label>
                    </FlexboxLayout>


                    <FlexboxLayout class="kontener center" height="100%">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0"
                                colSpan="2">
                                <TextField hint="Wpisz swój e-mail" class="text-field lexend" returnKeyType="done"
                                    autocapitalizationType="none" formControlName="emailP" keyboardType="email" #emailP>
                                </TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="E-MAIL" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Wpisz poprawny adres e-mail" class="red lexend" *ngIf="!emailPValid"></Label>
                    </FlexboxLayout>

                    <GridLayout columns="50,*" rows="40" width="90%">
                        <FlexboxLayout class="flex2 center wh100" col="0">
                            <Switch #regulaminP></Switch>
                        </FlexboxLayout>
                        <FlexboxLayout class="flex2 center wh100" col="1">
                            <Label text="Akceptuję " class="lexend" fontSize="13" color="rgb(20,20,20)"></Label>
                            <Label text="regulamin i politykę prywatności" (tap)=regulamin() color="red" class="lexend"
                                fontSize="13"></Label>
                        </FlexboxLayout>
                    </GridLayout>

                </StackLayout>
            </ScrollView>
            <FlexboxLayout class="center" width="90%">
                <StackLayout *ngIf="udanaRejP" horizontalAlignment="center">
                    <Label class="dane audiowide" text="Dziękujemy za rejestrację!"></Label>
                    <Label text="Na poniższy adres e-mail wysłaliśmy link aktywacyjny" class="dane lexend" textWrap="true"></Label>
                    <Label [text]="_emailP" class="dane lexend" fontSize="17"></Label>
                    <Label text="Aby móc zalogować się na konto musisz je najpierw potwierdzić!" class="dane lexend" textWrap="true"></Label>
                    <Label text="KOD AKTYWACYJNY JEST WAŻNY PRZEZ 30 MINUT!" class="dane lexend" textWrap="true"></Label>
                </StackLayout>
            </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout class="nowy b-p-10 center" row="0" rowSpan="2" width="70%">
            <Label text="Rejestracja parafii" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*,*,*" rows="60" row="3">
            <Button [text]="this.formP.valid?'Anuluj':'Zamknij'" col="0" colSpan="2" (tap)="powrot()"
                class="anuluj b-p-10 audiowide" *ngIf="!udanaRejP"></Button>
            <Button text="Zapisz" col="2" colSpan="2" (tap)="zarejestrujP()" class="anuluj b-p-10 zapisz audiowide"
                [isEnabled]="this.formP.valid && _diecezja !== 'Wybierz diecezję' && _rodzaj !== 'Wybierz rodzaj parafii' && _stopien !== 'Wybierz stopień'"
                *ngIf="!udanaRejP"></Button>
            <Button text="Powrót" col="1" colSpan="2" (tap)="powrot()" class="anuluj b-p-10 zapisz audiowide"
                *ngIf="udanaRejP"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>

<FlexboxLayout class="wh100 fade center" (tap)="nic()" *ngIf="ladowanie">
        <ActivityIndicator [busy]="true"></ActivityIndicator>
</FlexboxLayout>
</GridLayout>
