<FlexboxLayout class="back center wh100">
    <GridLayout columns="*" rows="30,10,*,auto" class="grid">
        <FlexboxLayout class="flex center wh100" row="1" rowSpan="2">
            <ScrollView height="90%" #scroll *ngIf="!udanaRejP">
                <StackLayout [formGroup]="formP">

                    <FlexboxLayout row="2" class="kontener center" height="100%" (tap)="displayActionDialog('diecezja')">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2" flexDirection="row">
                                <Label [text]="_diecezja" class="text-field lexend" width="85%"></Label>
                                <Label text="&#xe013;" class="icon" color="white"></Label>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="DIECEZJA" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Wybierz diecezję" class="red lexend" *ngIf="!diecezjaValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                                <TextField hint="Wpisz miasto" class="text-field lexend" returnKeyType="next"
                                     autocapitalizationType="none" formControlName="miasto" #miasto>
                                </TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="MIASTO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                            <Label text="Miasto musi mieć od 2 do 30 znaków oraz składać się z polskiego alfabetu" class="red lexend" *ngIf="!miastoValid"></Label>
                        </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%" (tap)="displayActionDialog('rodzaj')">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2" flexDirection="row">
                                <Label [text]="_rodzaj" class="text-field lexend" width="85%"></Label>
                                <Label text="&#xe013;" class="icon" color="white"></Label>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="RODZAJ PARAFII" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Wybierz rodzaj parafii" class="red lexend" *ngIf="!rodzajValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%" (tap)="focus()">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2" flexDirection="row">
                                <Label text="pw. " class="lexend" color="white" marginLeft="5"></Label>
                                <TextField hint="np. Świętej Rodziny" class="text-field lexend" returnKeyType="next"
                                    autocapitalizationType="words" formControlName="wezwanie" #wezwanie width="81%"></TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="WEZWANIE PARAFII" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>


                        <Label text="Wezwanie musi mieć od 2 do 30 znaków oraz składać się z polskiego alfabetu"
                            class="red lexend" *ngIf="!wezwanieValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                                <TextField hint="Wpisz swój e-mail" class="text-field lexend" returnKeyType="next"
                                    autocapitalizationType="none" formControlName="emailP" keyboardType="email" #emailP>
                                </TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="E-MAIL" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Wpisz poprawny adres e-mail" class="red lexend" *ngIf="!emailPValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                                <TextField hint="Wpisz hasło" class="text-field lexend" autocapitalizationType="none"
                                    [secure]="true" formControlName="hasloP" #hasloP></TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label
                            text="Hasło musi mieć od 6 do 15 znaków oraz składać się z polskiego alfabetu, cyfr i symboli: +,*,@,#,$,&,^,~,_,?"
                            class="red lexend" *ngIf="!hasloPValid"></Label>
                    </FlexboxLayout>

                    <FlexboxLayout class="kontener center" height="100%">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                                <TextField hint="Powtórz hasło" class="text-field lexend" autocapitalizationType="none"
                                    [secure]="true" formControlName="powtorzP" #powtorzP></TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="POWTÓRZ HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <Label text="Hasła się różnią" class="red lexend" *ngIf="!powtorzPValid"></Label>
                    </FlexboxLayout>

                    <GridLayout columns="50,*" rows="40" width="90%">
                        <FlexboxLayout class="flex2 center wh100" col="0">
                            <Switch #regulaminP></Switch>
                        </FlexboxLayout>
                        <FlexboxLayout class="flex2 center wh100" col="1">
                            <Label text="Akceptuję" class="lexend" fontSize="13" color="rgb(20,20,20)"></Label>
                            <Label text="regulamin i politykę prywatności" (tap)=regulamin() color="red"
                                class="lexend" fontSize="13"></Label>
                        </FlexboxLayout>
                    </GridLayout>

                </StackLayout>
            </ScrollView>
            <FlexboxLayout class="center" width="90%">
                <StackLayout *ngIf="udanaRejP">
                    <Label class="dane audiowide" text="Dziękujemy za rejestrację!"></Label>
                    <Label [text]="'Diecezja: ' + _diecezja" class="dane lexend"></Label>
                    <Label [text]="'Miasto: ' + _miasto" class="dane lexend"></Label>
                    <Label [text]="'Rodzaj parafii: ' + _rodzaj" class="dane lexend"></Label>
                    <Label [text]="'Wezwanie: ' + _wezwanie" class="dane lexend"></Label>
                    <Label [text]="'E-mail: ' + _emailP" class="dane lexend"></Label>
                </StackLayout>
            </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout class="nowy b-p-10 center" row="0" rowSpan="2">
            <Label text="Rejestracja" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*,*,*" rows="60" row="3">
            <Button [text]="this.formP.valid?'Anuluj':'Zamknij'" col="0" colSpan="2" (tap)="powrot()" class="anuluj b-p-10 audiowide"
                *ngIf="!udanaRejP"></Button>
            <Button text="Zapisz" col="2" colSpan="2" (tap)="zarejestrujP()" class="anuluj b-p-10 zapisz audiowide"
                [isEnabled]="this.formP.valid && _diecezja !== 'Wybierz diecezję' && _rodzaj !== 'Wybierz rodzaj parafii'"
                *ngIf="!udanaRejP"></Button>
            <Button text="Powrót" col="1" colSpan="2" (tap)="powrot()" class="anuluj b-p-10 zapisz audiowide"
                *ngIf="udanaRejP"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
