<FlexboxLayout class="back wh100 center">
    <GridLayout columns="*" rows="auto,*,auto">
        <FlexboxLayout class="center" width="100%" row="0">
            <Label [text]="this.userService.UserStopien !== 11 ? userImieINazwisko : 'ks. ' + userImieINazwisko" class="opis audiowide" (tap)="nawigujDo('dane-profilowe')"></Label>
            <GridLayout columns="auto,*" rows="auto" width="90%">
                <Label text="Twoje dane" class="opis lexend" col="0"></Label>
                <Button text="Dane profilowe" class="click audiowide" col="1" (tap)="nawigujDo('dane-profilowe')"></Button>
            </GridLayout>

            <GridLayout columns="auto,*" rows="auto,auto,auto" class="element">
                <Label text="Konto" class="opis lexend" col="0" row="0"></Label>
                <Button text="Usuń konto" class="click audiowide" col="1" row="0" (tap)="nawigujDo('usun-konto-m')"></Button>
                <Button text="Zmień hasło" class="click audiowide" col="1" row="1" (tap)="nawigujDo('zmien-haslo-m')"></Button>
                <Button text="Wyloguj się" class="click audiowide" col="1" row="2" (tap)="wyloguj()"></Button>
            </GridLayout>

            <GridLayout columns="auto,*" rows="auto" width="90%" class="element">
                <Label text="Powiadomienia" class="opis lexend" col="0" row="3"></Label>
                <FlexboxLayout width="100%" justifyContent="flex-end" marginTop="5" col="1" row="3" flexDirection="row" >
                    <Button class="check b-p-10 icon" color="white" [text]="powiadomienia? '&#xe023;' : ''" [ngClass]="{checked: powiadomienia}" (tap)="zmienPowiadomienia()"></Button>
                </FlexboxLayout>
            </GridLayout>

        </FlexboxLayout>
        <FlexboxLayout class="center" width="100%" row="2">
            <GridLayout columns="auto,*" rows="auto" class="element">
                <Label [text]="'LSO App ' + wersja" class="wersja lexend" col="0"></Label>
                <Button text="Kontakt" class="click audiowide" (tap)="kontakt()" col="1"></Button>
            </GridLayout>
            <GridLayout width="90%">
                <Button text="Informacje o aplikacji" class="click audiowide" (tap)="nawigujDo('info-m')"></Button>
            </GridLayout>
            <GridLayout width="90%">
                <Button text="Regulamin i polityka prywatności" class="click audiowide" (tap)="otworzLink('https://lsoapp.pl/polityka-prywatnosci/')"></Button>
            </GridLayout>
        </FlexboxLayout>

        <FlexboxLayout class="wh100 center fade" *ngIf="ui.ladowane[7]" col="0" rowSpan="7">
            <ActivityIndicator [busy]="true"></ActivityIndicator>
        </FlexboxLayout>

    </GridLayout>
</FlexboxLayout>
