.element
{
    width: 90%;
    border-top-width: 1;
    border-color: rgb(40, 40, 40);
}

.opis
{
    margin: 10;
    color: white;
    font-weight: bold;
    font-size: 15;
}

.click
{
    padding: 0;
    background-color: transparent;
    text-align: right;
    color: #e71e25;
    font-size: 12;
}

.wersja
{
    margin: 10;
    color: rgb(40, 40, 40);
    font-weight: 200;
    font-size: 14;
}


.button
{
    border-width: 1;
    margin: 2;
    border-color: rgb(40, 40, 40);
    background-color: transparent;
    color: white;
    font-size: 12;
    font-weight: 900;
}


.checked
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}
