.flex2
{
    margin: 3;
    border-width: 2;
    border-radius: 5%;
    border-color: rgb(20, 20, 20);
    flex-direction: row;
}

.flex3
{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5;
}

.opis
{
    text-wrap: true;
    color: rgb(40, 40, 40);
    font-size: 15;

}

.podkr
{
    border-bottom-width: 1;
    border-color: rgb(160, 160, 160);
}

.btn
{
    border-color: rgba(0, 0, 0, 0);
    border-width: 1;
    border-radius: 5;
    color: rgb(230, 230, 230);
    background: rgb(20, 20, 20);
    font-size: 13;
    padding: 0;
    text-align: center;
}

.wybrany
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
    font-size: 15;
    color: white;
    padding: 0;
}


.wybrany:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
}

.nie
{
    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);
    border-color:  rgb(206, 206, 206);
}

.acion-cont
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    color: white;
    font-size: 16;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.acion-cont:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
}

.text
{
    color: rgb(80, 80, 80);
    font-size: 22;
    width: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255);
    height: 40;
    margin-top: 3;
}

.iks
{
    display: block;
    padding: 0;
    height: 30;
    width: 30;
    background: rgb(20, 20, 20);
    color: white;
    font-size: 12;
    border-radius: 5%;
}

.typ {
    transform: translateX(30);
    clip-path: circle(100% at 50% 50%);
    height: 15;
    width: 15;
}
