<FlexboxLayout class="back center wh100">
    <GridLayout columns="10,*,10" rows="30,10,*,auto" width="100%">
        <FlexboxLayout class="flex wh100 center" col="1" row="1" rowSpan="2">
            <GridLayout rows="*,*,*,*,*,*,*" columns="*,55" width="90%" marginTop="15" marginBottom="5">

                <FlexboxLayout class="flex2 center backg-20" *ngFor="let dzien of DzienTygodnia, let i = index" col="1" [row]="i" [ngClass]="{wybrany: wybranyDzien === dzien}">
                    <Button class="btn wh100 audiowide" [text]="dzienTygodnia(dzien)" (tap)="zmienDzien(dzien)" [ngClass]="{wybrany: wybranyDzien === dzien}"></Button>
                </FlexboxLayout>

                <FlexboxLayout *ngIf="wybranyDzien === undefined" justifyContent="center" width="100%" col="0" rowSpan="7">
                    <Label text="Wybierz dzień" class="opis lexend"></Label>
                </FlexboxLayout>

                <StackLayout col="0" class="wh100" *ngIf="wybranyDzien !== undefined" rowSpan="7" marginRight="7">

                    <Button class="wybrany" marginLeft="5" borderRadius="10%" (tap)="dodaj($event)" height="40" width="40" horizontalAlignment="left" [isEnabled]="!ui.ladowane[3]" [ngClass]="{nie: ui.ladowane[3]}">
                        <FormattedString>
                            <Span text="&#xe072;" class="icon" backgroundColor="transparent"></Span>
                        </FormattedString>
                    </Button>

                    <Label text="Brak mszy w tym dniu" class="opis lexend" horizontalAlignment="center" textWrap="true" *ngIf="wydarzeniaDnia.length === 0"></Label>

                    <GridLayout marginLeft="5">
                        <RadListView [items]="wydarzeniaDnia" separatorColor="grey" swipeActions="true" (itemSwipeProgressStarted)="onSwipeCellStarted($event)" *ngIf="!ui.ladowane[3]">
                            <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical">
                                <ng-template tkListItemTemplate let-item="item" let-i="index">
                                    <FlexboxLayout (tap)="edytuj($event, item, i)" [backgroundColor]="kolor(i)" class="text" borderRadius="7%" justifyContent="center" alignItems="center" (longPress)="usun(item)">
                                        <Label [text]="item.data_dokladna == null ? 'Cykliczne' : item.data_dokladna.toString().slice(0,10)" class="lexend cykl"></Label>
                                        <Label [text]="item.godzina.toString() | godzina" class="lexend"></Label>
                                        <Label class="typ" [ngClass]="{'red-grad': item.typ === 0,'blue-grad': item.typ === 1,'yellow-grad': item.typ === 2}"></Label>
                                    </FlexboxLayout>
                                </ng-template>
                                <GridLayout *tkListItemSwipeTemplate columns="40, *" marginTop="3">
                                    <Button text="&#xe08e;" id="delete" col="0" (tap)="onLeftSwipeClick($event)" class="acion-cont b-p-10 icon" width="40"></Button>
                                </GridLayout>
                            </ListViewLinearLayout>
                        </RadListView>
                    </GridLayout>

                </StackLayout>
                <FlexboxLayout class="wh100 center" *ngIf="ui.ladowane[3]" col="0" rowSpan="7">
                    <ActivityIndicator [busy]="true"></ActivityIndicator>
                </FlexboxLayout>
            </GridLayout>

        </FlexboxLayout>

        <FlexboxLayout class="nowy center b-p-10" col="1" row="0" rowSpan="2" width="75%">
            <Label text="Edytuj wydarzenia" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*" rows="60" row="3" col="1">
            <Button [text]="zmiana?'Anuluj':'Zamknij'" col="0" (tap)="anuluj()" class="anuluj b-p-10 audiowide"></Button>
            <Button text="Zapisz" col="1" (tap)="zapisz()" class="anuluj b-p-10 zapisz audiowide" [isEnabled]="zmiana" [ngClass]="{disabled: !zmiana}"></Button>
        </GridLayout>

        <FlexboxLayout row="0" col="0" rowSpan="4" colSpan="3" [style.visibility]="modalidoczny ? 'visible' : 'hidden'">
            <ns-szczegoly-wydarzenia #szczegoly></ns-szczegoly-wydarzenia>
        </FlexboxLayout>
    </GridLayout>
</FlexboxLayout>