/* Add mobile styles for the component here.  */
.zdjecie {
    border-radius: 20%;
    width: 50%;
}

.stack {
    align-items: center;
    width: 90%;
}

.text
{
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-size: 13;
    color: white;
    font-weight: 200;
    padding: 1;
}

.text:pressed
{
    color: rgb(200, 200, 200);
}

.button
{
    margin: 10;
    width: 50%;
    text-align:center;
    font-weight: 500;
    font-size: 17;
    display: block;
    /* background:#e71e25; */
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    color: white;
}

.button:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
    color: rgb(200, 200, 200);
}

.button:disabled
{
    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);
    border-color:  rgb(206, 206, 206);
}
.pasek
{
   background: rgb(40, 40, 40);
}

.check
{
    border-width: 1;
    margin: 2;
    border-color: rgb(160, 160, 160);
    color: white;
    font-size: 13;
    background: transparent;
}

.checked
{
    border-color: transparent;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    color: white;
}
