/* Add mobile styles for the component here.  */
.zdjecie {
    border-radius: 20%;
    width: 50%;
}

.stack {
    align-items: center;
    width: 90%;
}

.text
{
    background-color: transparent;
    text-align: center;
    width: 100%;
    font-size: 13;
    color: white;
    font-weight: 200;
    padding: 1;
}

.button
{
    margin: 20;
    width: 50%;
    text-align:center;
    font-weight: 500;
    font-size: 17;
    display: block;
    /* background:#e71e25; */
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    color: white;
}
