<GridLayout class="wh100" (tap)="dismiss()">

    <FlexboxLayout (swipe)="onSwipe($event)" class="wh100 center back">
        <GridLayout rows="*,60" columns="*,1,*" alignSelf="flex-end">
            <StackLayout class="stack" verticalAlignment="center" [formGroup]="form" row="0" col="0" colSpan="3">

                <Image src="res://logo" class="zdjecie"></Image>

                <FlexboxLayout class="center" width="100%">
                    <FlexboxLayout class="input-field backg-20 b-p-10 center" marginTop="20">
                        <TextField hint="E-MAIL" class="text-field lexend"
                            keyboardType="email" formControlName="email" #email></TextField>
                    </FlexboxLayout>
                    <Label text="Wpisz poprawny adres e-mail" class="red lexend" *ngIf="!emailValid"></Label>
                </FlexboxLayout>

                <FlexboxLayout class="center" width="100%">
                    <FlexboxLayout class="input-field backg-20  b-p-10 center" marginTop="20">
                        <TextField hint="HASŁO" class="text-field lexend" secure="true"
                            formControlName="haslo" #haslo></TextField>
                    </FlexboxLayout>
                    <Label text="Niepoprawne hasło" class="red lexend" *ngIf="!hasloValid"></Label>
                    <Button text="Zapomniałem hasła" class="lexend text" (tap)="zapomnialem()" fontSize="11"></Button>
                </FlexboxLayout>

                <Button text="Zaloguj" class="button audiowide b-p-10" (tap)="zaloguj()" [isEnabled]="form.valid"></Button>

                <GridLayout rows="30" columns="30,*" width="50%" margin="15">
                    <Button col="0" class="check wh100 b-p-10 icon" [text]="zapamietaj? '&#xe023;' : ''" [ngClass]="{checked: zapamietaj}" (tap)="zmienZapamietaj()"></Button>
                    <Button col="1" text="Zapamiętaj mnie" class="lexend text" (tap)="zmienZapamietaj()" fontSize="11"></Button>
                </GridLayout>

            </StackLayout>
            <FlexboxLayout col="0" row="1" class="center" width="100%">
                <Button text="Nadaj&#xA;hasło" class="lexend text" (tap)="nadajHaslo()"></Button>
            </FlexboxLayout>
            <FlexboxLayout col="1" row="1" class="wh100 pasek"></FlexboxLayout>
            <FlexboxLayout col="2" row="1" class="center" width="100%">
                <Button text='Rejestracja&#xA;parafii' class="lexend text" (tap)="doRejestracji()"></Button>
            </FlexboxLayout>
        </GridLayout>
    </FlexboxLayout>

    <FlexboxLayout class="wh100 fade center" (tap)="nic()" *ngIf="ladowanie">
            <ActivityIndicator [busy]="true"></ActivityIndicator>
    </FlexboxLayout>
</GridLayout>
