<FlexboxLayout (swipe)="onSwipe($event)" class="wh100 center back">
    <GridLayout rows="*,40" columns="*,1,*" alignSelf="flex-end">
        <StackLayout class="stack" verticalAlignment="center" [formGroup]="form" row="0" col="0" colSpan="3">

            <Image src="res://logo" class="zdjecie"></Image>

            <FlexboxLayout class="center" width="100%">
                <FlexboxLayout class="input-field backg-20 b-p-10 center" marginTop="20">
                    <TextField hint="E-MAIL" class="text-field lexend"
                        keyboardType="email" formControlName="email" #email></TextField>
                </FlexboxLayout>
                <Label text="Wpisz poprawny adres e-mail" class="red lexend" *ngIf="!emailValid"></Label>
            </FlexboxLayout>

            <FlexboxLayout class="center" width="100%">
                <FlexboxLayout class="input-field backg-20  b-p-10 center" marginTop="20">
                    <TextField hint="HASŁO" class="text-field lexend" secure="true"
                        formControlName="haslo" #haslo></TextField>
                </FlexboxLayout>
                <Label text="Niepoprawne hasło" class="red lexend" *ngIf="!hasloValid"></Label>
                <Button text="Zapomniałem hasła" class="lexend text" (tap)="zapomnialem()" fontSize="11"></Button>
            </FlexboxLayout>

            <Button text="Zaloguj" class="button audiowide b-p-10" (tap)="zaloguj()" (longPress)="zaloguj(false)" [isEnabled]="form.valid"></Button>

        </StackLayout>
        <FlexboxLayout col="0" row="1" class="center" width="100%">
            <Button text="Nadaj hasło" class="lexend text" (tap)="nadajHaslo()"></Button>
        </FlexboxLayout>
        <FlexboxLayout col="1" row="1" class="wh100 pasek"></FlexboxLayout>
        <FlexboxLayout col="2" row="1" class="center" width="100%">
            <Button text='Rejestracja parafii' class="lexend text" (tap)="doRejestracji()"></Button>
        </FlexboxLayout>
    </GridLayout>
</FlexboxLayout>
