<GridLayout>
<FlexboxLayout class="wh100 back" flexDirection="column">
    <GridLayout columns="*,*,*" rows="*" height="15%">
            <FlexboxLayout *ngIf="!this.tabIndexService.opiekun" col="0" row="0" flexDirection="column" alignItems="center"
            justifyContent="center">
            <Label [text]="this.miejsce === 0? '--' : this.miejsce" class="text audiowide"></Label>
            <Label text="MIEJSCE" class="text2 audiowide"></Label>
            </FlexboxLayout>

            <Image src="res://main" col="1" row="0"></Image>

            <FlexboxLayout *ngIf="!this.tabIndexService.opiekun" col="2" row="0" flexDirection="column" alignItems="center"
                justifyContent="center">
                <Label [text]="this.user.punkty" class="text audiowide"></Label>
                <Label text="PUNKTY" class="text2 audiowide"></Label>
            </FlexboxLayout>
    </GridLayout>
        <!-- Widok ministranta -->
        <GridLayout columns="*" rows="*,auto" *ngIf="!this.tabIndexService.opiekun" flexDirection="column">
            <FlexboxLayout col="0" height="100%">
                <Tabs [selectedIndex]="selectedIndex" (selectedIndexChanged)="zmianaIndexu($event)">
                    <TabContentItem>
                        <page-router-outlet name="dyzury"></page-router-outlet>
                    </TabContentItem>
                    <TabContentItem>
                        <page-router-outlet name="wiadomosciM"></page-router-outlet>
                    </TabContentItem>
                    <TabContentItem>
                        <page-router-outlet name="ustawieniaM"></page-router-outlet>
                    </TabContentItem>
                </Tabs>
            </FlexboxLayout>
            <GridLayout columns="*,*,*" rows="50"  row="1" backgroundColor="black">
                <Button col="0" text="&#xe01b;" class="icon strip-item" [ngClass]="{'strip-item-active': selectedIndex === 0}" (tap)="zmienStrone(0)"></Button>
                <Button col="1" text="&#xe032;" class="icon strip-item" [ngClass]="{'strip-item-active': selectedIndex === 1}" (tap)="zmienStrone(1)"></Button>
                <Button col="2" text="&#xe0e3;" class="icon strip-item" [ngClass]="{'strip-item-active': selectedIndex === 2}" (tap)="zmienStrone(2)"></Button>
            </GridLayout>
        </GridLayout>
        <!-- Widok opiekuna -->
        <GridLayout columns="*" rows="*,auto" *ngIf="this.tabIndexService.opiekun" flexDirection="column">
            <FlexboxLayout row="0" height="100%">
                <Tabs [selectedIndex]="selectedIndex" (selectedIndexChanged)="zmianaIndexu($event)">

                    <TabContentItem>
                        <page-router-outlet name="obecnosc"></page-router-outlet>
                    </TabContentItem>
                    <TabContentItem>
                        <page-router-outlet name="ministranci"></page-router-outlet>
                    </TabContentItem>
                    <TabContentItem>
                        <page-router-outlet name="wiadomosciO"></page-router-outlet>
                    </TabContentItem>
                    <TabContentItem>
                        <page-router-outlet name="ustawieniaO"></page-router-outlet>
                    </TabContentItem>
                </Tabs>
            </FlexboxLayout>

                    <GridLayout columns="*,*,*,*" rows="50"  row="1" backgroundColor="black">
                        <Button col="0" text="&#xe0e7;" class="icon strip-item" [ngClass]="{'strip-item-active': selectedIndex === 0}" (tap)="zmienStrone(0)"></Button>
                        <Button col="1" text="&#xe092;" class="icon strip-item" [ngClass]="{'strip-item-active': selectedIndex === 1}" (tap)="zmienStrone(1)"></Button>
                        <Button col="2" text="&#xe032;" class="icon strip-item" [ngClass]="{'strip-item-active': selectedIndex === 2}" (tap)="zmienStrone(2)"></Button>
                        <Button col="3" text="&#xe0e3;" class="icon strip-item" [ngClass]="{'strip-item-active': selectedIndex === 3}" (tap)="zmienStrone(3)"></Button>
                    </GridLayout>

        </GridLayout>


    </FlexboxLayout>
            <FlexboxLayout class="wh100 fade center" (tap)="nic()" *ngIf="ui.ladowane[4]">
                    <ActivityIndicator [busy]="true"></ActivityIndicator>
            </FlexboxLayout>
</GridLayout>
