
.tabs
{
    font-size: 20;
    color: rgb(200, 200, 200);
}

.strip-item
{
    background-color: black;
    color: rgb(170, 170, 170);
    height: 100%;
    padding: 0;
    font-size: 20;
    margin: 0;
    width: 100%;
    border-radius: 1;
}

.strip-item-active
{
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 10;
    margin-left: 5;
    margin-right: 5;
}

.text2
{
    color: white;
    font-weight: 500;
    font-size: 11;
}

.text
{
    font-weight: 700;
    color: #e71e25;
    font-size: 25;
}
