/* Add mobile styles for the component here.  */
.back
{
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.grid
{
    width: 90%;
}


.flex
{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20%;
    border-width: 1;
    border-color: black;
    width: 100%;
    height: 100%;
}

.input-field
{
    justify-self: right;
    height: 50;
    background-color: rgb(20, 20, 20);
    width: 95%;
    margin: 2;
    align-items: center;
    justify-content: center;
    border-color: rgb(20, 20, 20);
    border-width: 1;
    border-radius: 10%;
}

.text-field
{
    color: white;
    width: 90%;
    placeholder-color: white;
    font-size: 15;
}

.etykieta
{
    color: white;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-radius: 5%;
    font-size: 12;
    justify-content: center;
    align-items: center;
}

.anuluj
{
    padding: 1;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 10%;
    border-color: white;
    border-width: 2;
    margin: 10;
    font-size: 17;
}

.zapisz
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.zapisz:disabled
{
    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);
    border-color:  rgb(206, 206, 206);
}

.nowy
{
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 8%;
    padding: 1;
    margin:5;
    color: white;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
    border-radius: 10%;
    border-width: 1;
    font-size: 17;
}

.red
{
    margin-right: 5;
    margin-left: 5;
    color: #e71e25;
    font-size: 12;
    text-wrap: true;
    width: 95%;
    text-align: left;
}


.margin-top
{
    margin-top: 10;
}


.text
{
    text-align: center;
    color: black;
    text-wrap: true;
    font-size: 15;
}
