<FlexboxLayout class="wh100 center shadow" [style.visibility]="visible ? 'visible' : 'hidden'" (tap)="decide($event,undefined)">
    <FlexboxLayout class="f center" [height]="height"  #window>
        <ScrollView margin="5">
            <StackLayout>
                <GridLayout columns="*,*,*,*" [rows]="rows">
                    <FlexboxLayout flexDirection="column" [col]="lista.length === 1? 1: i%2 === 0? 0:2" [row]="wiersz(i)" colSpan="2" *ngFor="let element of lista; let i = index">
                        <Label *ngIf="isAndroid" [text]="element" (tap)="decide($event,i)" class="btn audiowide" (loaded)="onLabelLoaded($event)"></Label>
                        <Button *ngIf="!isAndroid" [text]="element" (tap)="decide($event,i)" class="btn audiowide"></Button>
                    </FlexboxLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
    </FlexboxLayout>
</FlexboxLayout>