.f
{
    width: 85%;
    background-color: white;
    border-radius: 10%;
}

.btn
{
    text-wrap: true;
    border-radius: 5%;
    height: 100;
    color: white;
    font-size: 12;
    background-color: rgb(20,20,20);
    padding: 0;
    margin: 5;
}

.btn:pressed
{
    background-color: rgb(40,40,40);
}

.label
{
    color: black;
    font-size: 15;
    margin: 4;
    text-wrap: true;
    text-align: center;
}

.tranp
{
    background-color: transparent;
}

.button
{
    margin: 10;
    width: 50%;
    text-align:center;
    font-weight: 500;
    font-size: 17;
    display: block;
    /* background:#e71e25; */
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    color: white;
}

.button:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
    color: rgb(200, 200, 200);
}

.button:disabled
{
    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);
    border-color:  rgb(206, 206, 206);
}
