<GridLayout>
    <FlexboxLayout class="back wh100 center">
        <!-- Widok dnia -->
        <StackLayout class="wh100" *ngIf="!kalendarz">
            <FlexboxLayout class="grid-container">
                <GridLayout rows="50" columns="50,*,50" height="10%">
                    <Button col="0" class="strzalki b-p-10 icon" (tap)="indexZmiana(-1)" androidElevation="0">
                        <FormattedString>
                            <Span text="&#xe002;"></Span>
                        </FormattedString>
                    </Button>
                    <Button col="1" class="center margin-l-r b-p-10 kal" (tap)="naKalendarz(true)" androidElevation="0" alignItems="center">
                        <FormattedString>
                            <Span text="&#xe01f; " class="header icon" alignSelf="center" fontSize="12" backgroundColor="rgb(0,0,0,0)"></Span>
                            <Span [text]="naglowek" class="header lexend" alignSelf="center" backgroundColor="rgb(0,0,0,0)"></Span>
                            <Span [text]="data" class="data lexend" alignSelf="center" backgroundColor="rgb(0,0,0,0)"></Span>
                        </FormattedString>
                    </Button>
                    <Button col="2" *ngIf="czyMoznaDoPrzodu()" class="strzalki b-p-10 icon" (tap)="indexZmiana(1)" androidElevation="0">
                        <FormattedString>
                            <Span text="&#xe001;"></Span>
                        </FormattedString>
                    </Button>
                </GridLayout>
            </FlexboxLayout>

            <Label text="Brak przypisanych ministrantów, aby ich dodać przejdź do panelu ministranta" *ngIf="ministranciDoWydarzenia.length === 0 && dzisiejszeWydarzenia.length !== 0 && !ui.ladowane[0]" class="brak lexend" width="90%"></Label>
            <ScrollView *ngIf="ministranciDoWydarzenia.length > 0 && !ui.ladowane[0]" height="77%">
                <StackLayout>
                    <GridLayout rows="50" columns="50,*" [ngClass]="{szary: i%2 === 0}" class="margin-l-r"
                        *ngFor="let item of ministranciDoWydarzenia; let i = index" width="100%">
                        <FlexboxLayout col="0" class="box margin-l-r" *ngIf="moznaSprawdzac() && czyJestNaLiscie(item)">
                            <ns-checkbox-status (checkStatus)="zmienStatusObecnosci($event, item.id_user)" [status]="aktualnyStatus(item)">
                            </ns-checkbox-status>
                        </FlexboxLayout>
                        <FlexboxLayout col="1" class="center margin-l-r" flexDirection="row" justifyContent="flex-start">
                            <Label [text]="item.imie + ' ' + item.nazwisko" class="imie lexend"></Label>
                        </FlexboxLayout>
                    </GridLayout>
                </StackLayout>
            </ScrollView>
            <Button text="Zapisz" class="btn audiowide" *ngIf="ministranciDoWydarzenia.length > 0 && !ui.ladowane[0]" (tap)="zapiszZmiany()" [isEnabled]="zmiana"></Button>
            <Label text="Brak dzisiejszych wydarzeń, aby je dodać przejdź do panelu ustawień" *ngIf="dzisiejszeWydarzenia.length === 0 && !ui.ladowane[0]" class="brak lexend"  width="90%"></Label>

            <FlexboxLayout class="wh100 center" *ngIf="ui.ladowane[0]">
                <ActivityIndicator [busy]="true"></ActivityIndicator>
        </FlexboxLayout>
        </StackLayout>
        <!-- Widok kalendarza -->
            <GridLayout columns="*" rows="30,10,*,auto" *ngIf="kalendarz">

                <FlexboxLayout row="1" rowSpan="2" class="kalendarz b-p-10">
                    <FlexboxLayout margin="5">
                        <RadCalendar (dateSelected)="wybranyDzien()" #myCalendar selectionMode="Single" transitionMode="Stack" viewMode="Month" id="calendar" locale="pl-PL"></RadCalendar>
                    </FlexboxLayout>
                </FlexboxLayout>

                <FlexboxLayout class="center nowy b-p-10" row="0" rowSpan="2" alignItems="center">
                        <Label text="Kalendarz" class="audiowide" fontSize="17"></Label>
                </FlexboxLayout>

                <GridLayout columns="*,*,*,*" rows="60" row="3" margin="2">
                    <Button text="Zamknij" col="1" colSpan="2" (tap)="naKalendarz(false)" class="anuluj b-p-10 audiowide" fontSize="17"></Button>
                </GridLayout>
            </GridLayout>
    </FlexboxLayout>

    <FlexboxLayout class="wh100 center fade" *ngIf="PROLista[6] === 'punktacja' || PROLista[6] === 'edytuj-msze' || PROLista[4] === 'ministrant-dyzury'" (tap)="nic()">
        <Label text="Aby korzystać z tego widoku musisz zamknąć panel" class="lexend warn1"></Label>
        <Label text="Edytuj Msze Święte" class="audiowide warn2" *ngIf="PROLista[6] === 'edytuj-msze'"></Label>
        <Label text="Punktacja" class="audiowide warn2" *ngIf="PROLista[6] === 'punktacja'"></Label>
        <Label text="Edytuj dyżury" class="audiowide warn2" *ngIf="PROLista[4] === 'ministrant-dyzury'"></Label>
    </FlexboxLayout>
</GridLayout>
