/* Add mobile styles for the component here.  */
.grid-container
{
    width: 92%;
    margin: 10;
}

.kal
{
    background-color: white;
    height: 100%;
    align-content: center;
    flex-direction: row;
}

.kal:pressed
{
    background-color: #c8c8c8;
}

.strzalki
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
    font-size: 18;
    color: white;
    font-weight: 900;
}

.strzalki:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
    border-color: transparent;
}

.header
{
    margin-left: 4;
    margin-right: 4;
    font-weight: 500;
    text-align: center;
    font-size: 15;
    color: rgb(80, 80, 80);
}

.data
{
    font-weight: 200;
    margin: 10;
    color: #e71e25;
    font-size: 17;
}

.margin-l-r
{
    margin-left: 10;
    margin-right: 10;
}

.flex2
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.flex2:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
    border-color: transparent;
}

.imie
{
    color: white;
    font-size: 15;
    font-weight: 700;
    text-wrap: true;
}

.box
{
    justify-content: center;
    margin: 6;
}

.szary
{
    background-color: rgb(20, 20, 20);
}

.brak
{
    color: #e71e25;
    font-weight: 300;
    text-wrap: true;
    text-align: center;
    font-size: 15;
}

.btn
{
    /* border-color:white;
    border-width: 3; */
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
    color: white;
    font-weight: 900;
    font-size: 20;
    border-radius: 10%;
    padding: 1;
}

.btn:disabled
{
    background: hsl(0, 0%, 81%);
    color: rgb(124, 124, 124);
}

.kalendarz
{
    background-color: white;
    border-width: 2;
    border-color: black;
    height: 90%;
    width: 85%;
}

.warn1
{
    margin: 10;
    color: white;
    text-wrap: true;
    font-size: 15;
    text-align: center;
}

.warn2
{
    margin: 10;
    color: #e71e25;
    text-wrap: true;
    font-size: 17;
    text-align: center;
}
