<FlexboxLayout class="back center wh100">
    <GridLayout columns="*" rows="30,10,*,auto" width="90%">
        <FlexboxLayout class="flex center wh100" row="1" rowSpan="2">
            <ScrollView>
                <StackLayout [formGroup]="form">

                    <GridLayout columns="auto,*" rows="10,10,auto" row="0" class="kontener center" height="100%">
                        <FlexboxLayout class="input-field b-p-10 center backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                            <TextField hint="Wpisz aktualne hasło" class="text-field lexend" formControlName="stare"
                                autocapitalizationType="none" secure="true" #stare></TextField>
                        </FlexboxLayout>
                        <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                                <Label text="AKTUALNE HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                        </FlexboxLayout>
                    </GridLayout>

                    <Label text="Niepoprawne stare hasło" class="red lexend" *ngIf="!stareValid"></Label>

                    <GridLayout columns="auto,*" rows="10,10,auto" row="1" class="kontener center" height="100%">
                        <FlexboxLayout class="input-field b-p-10 center backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                            <TextField hint="Wpisz nowe hasło" class="text-field lexend" formControlName="nowe"
                                autocapitalizationType="none" secure="true" #nowe></TextField>
                        </FlexboxLayout>
                        <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                            <Label text="NOWE HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                        </FlexboxLayout>
                    </GridLayout>

                    <Label text="Hasło musi mieć od 6 do 15 znaków oraz może składać się ze wszystkich liter alfabetu polskiego, cyfr i symboli: +,*,@,#,$,&,^,~,_,?" class="red lexend" *ngIf="!noweValid"></Label>
                    <GridLayout columns="auto,*" rows="10,10,auto" row="2" class="kontener center" height="100%">
                        <FlexboxLayout class="input-field b-p-10 center backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                            <TextField hint="Powtórz nowe hasło" class="text-field lexend" formControlName="powtorz"
                                autocapitalizationType="none" secure="true" #powtorz></TextField>
                        </FlexboxLayout>
                        <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                            <Label text="POWTÓRZ HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                        </FlexboxLayout>
                    </GridLayout>
                    <Label text="Hasła się różnią" class="red lexend" *ngIf="!powtorzValid"></Label>
                </StackLayout>
            </ScrollView>
        </FlexboxLayout>

        <FlexboxLayout class="nowy center b-p-10" row="0" rowSpan="2">
            <Label text="Zmień hasło" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*" rows="60" row="3">
            <Button [text]="this.form.valid?'Anuluj':'Zamknij'" col="0" (tap)="anuluj()" class="anuluj b-p-10 audiowide"></Button>
            <Button text="Zapisz" col="1" (tap)="zapisz()" class="anuluj b-p-10 zapisz audiowide"
                [isEnabled]="this.form.valid"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
