/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/


ActivityIndicator
{
    color: #e71e25;
}

ActionBar
{
    color: white;
    background-color: black;
}

.action-bar-title
{
    text-align: center;
    font-size: 20;
    font-weight: 200;
    width: 100%;
}

Dialog{


    destructive: red;
    okButtonText: red;
    background-color: red;
    color:red;
    font-size:24;
    }

Button{
    color:red;
}

.audiowide
{
    font-family: 'Audiowide','Audiowide-Regular', cursive;
}

.lexend
{
    font-family: 'Lexend Deca','LexendDeca-Regular', sans-serif;
}

.icon
{
    font-family: 'iconmonstr-iconic-font';
}

TextField{
    border-bottom-width: 1;
    border-bottom-color: transparent;
}

.wh100
{
    width: 100%;
    height: 100%;
}

.center
{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.b-p-10
{
    border-radius: 10%;
    padding: 1;
}

.back
{
    background-color: black;
}

.backg-20
{
    background-color: rgb(20, 20, 20);
}

.flex
{
    background-color: white;
    border-radius: 20%;
}

.input-field
{
    justify-self: right;
    height: 50;
    width: 95%;
    margin: 2;
    border-color: rgb(20, 20, 20);
}

.text-field
{
    color: white;
    width: 90%;
    placeholder-color: rgb(124, 124, 124);
    font-size: 15;
}

.etykieta
{
    color: white;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-radius: 5%;
    font-size: 12;
}

.anuluj
{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-color: white;
    border-width: 2;
    margin: 10;
    font-size: 17;
    text-wrap: true;
}

.anuluj:pressed
{
    background-color: rgb(39, 39, 39);
}

.zapisz
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.zapisz:disabled
{
    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);
    border-color:  rgb(206, 206, 206);
}

.disabled
{
    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);
    border-color:  rgb(206, 206, 206);
}

.zapisz:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
    border-color: transparent;
}

.nowy
{
    width: 60%;
    height: 8%;
    margin:5;
    color: white;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
    border-width: 1;
    font-size: 17;
}

.red
{
    margin-right: 5;
    margin-left: 5;
    color: #e71e25;
    font-size: 12;
    text-wrap: true;
    width: 95%;
    text-align: left;
}

.kontener
{
    margin-top: 5;
    margin-bottom: 5;
    width: 95%;
}

.stand
{
    text-align: center;
    color: black;
    text-wrap: true;
    font-size: 15;
}

.fade
{
    background-color: rgb(0,0,0,0.7);
}

.szary
{
    color: rgb(124, 124, 124);
}

.bialy
{
    color: white;
}

