<FlexboxLayout class="back wh100 center">
    <GridLayout rows="*,auto" columns="*" width="90%">

        <StackLayout row="0" col="0" height="90%">

            <FlexboxLayout class="naglowek">
                <FlexboxLayout class="nagCont">
                    <Label [text]="ministrant.imie | caps" class="nagText audiowide"></Label>
                    <Label [text]="ministrant.nazwisko | caps" class="nagText audiowide"></Label>
                </FlexboxLayout>
            </FlexboxLayout>

            <GridLayout class="scroll wh100">
                <ScrollView scrollBarIndicatorVisible="false">
                    <StackLayout>
                        <GridLayout rows="auto,auto,auto,auto,auto,auto" columns="auto,*"  *ngIf="!this.ui.ladowane[5]">
                            <FlexboxLayout row="0" col="0" colSpan="2" class="podkr">
                            </FlexboxLayout>

                            <Label text="Punkty" class="opisCont opis lexend" row="0" col="0"></Label>

                            <FlexboxLayout row="0" col="1" class="daneCont" [formGroup]="form">
                                <Button text="-" class="przycisk audiowide" (tap)="zmienPunkty(-1)"></Button>
                                <TextField [text]="ministrant.punkty.toString()" class="punkty lexend" (returnPress)="wpiszPunkty()" (blur)="wpiszPunkty()" maxLength="4" keyboardType="number" formControlName="punkty" #punkty></TextField>
                                <Button text="+" class="przycisk audiowide" (tap)="zmienPunkty(1)"></Button>
                            </FlexboxLayout>

                            <FlexboxLayout row="1" col="0" colSpan="2" class="podkr">
                            </FlexboxLayout>
                            <FlexboxLayout row="1" col="0" class="opisCont">
                                <Label text="Stopień" class="opis lexend"></Label>
                            </FlexboxLayout>
                            <GridLayout columns="*,25" rows="auto" row="1" col="1" class="daneCont"
                                (tap)="zmienStopien(ministrant)">
                                <FlexboxLayout col="0" class="center" alignItems="flex-end">
                                    <Label [text]="stopien(ministrant.stopien)" class="dane lexend" horizontalAlignment="right"></Label>
                                </FlexboxLayout>
                                <FlexboxLayout class="center" col="2">
                                    <Label text="&#xe001;" class="strzalka icon"></Label>
                                </FlexboxLayout>
                            </GridLayout>


                            <FlexboxLayout row="2" col="0" colSpan="2" class="podkr">
                            </FlexboxLayout>

                            <Label text="Dyżury" row="2" col="0" class="opisCont opis lexend"></Label>

                            <GridLayout columns="*,25" rows="auto" row="2" col="1" class="daneCont"
                                (tap)="otworzDyzury()">
                                <FlexboxLayout col="0" class="center" alignItems="flex-end">
                                    <Label text="Brak" class="dane lexend" horizontalAlignment="right" row="1" col="1"
                                        *ngIf="dyzury.length === 0"></Label>
                                    <StackLayout *ngIf="dyzury.length > 0">
                                        <FlexboxLayout *ngFor="let dyzur of dyzury" horizontalAlignment="right">
                                            <Label [text]="dyzurHeader(dyzur.dzien_tygodnia)"
                                                class="dane lexend"></Label>
                                            <Label [text]="dyzur.godzina.toString() | godzina"
                                                class="dane lexend"></Label>
                                        </FlexboxLayout>
                                    </StackLayout>
                                </FlexboxLayout>
                                <FlexboxLayout class="center" col="2">
                                    <Label text="&#xe001;" class="strzalka icon"></Label>
                                </FlexboxLayout>
                            </GridLayout>

                            <FlexboxLayout row="3" col="0" colSpan="2" class="podkr" *ngIf="this.ministrant.id_user !== userService.UserID">
                            </FlexboxLayout>

                            <Label text="Podpięte&#xA;konto" row="3" col="0" class="opisCont opis lexend" *ngIf="this.ministrant.id_user !== userService.UserID"></Label>

                            <GridLayout columns="*,25" rows="auto" row="3" col="1" class="daneCont"
                                (tap)="aktywujKonto()" *ngIf="this.ministrant.id_user !== userService.UserID">
                                <FlexboxLayout col="0" class="center" alignItems="flex-end">
                                    <Label [text]="ministrant.email === null ? 'Aktywuj konto' : ministrant.email"
                                        class="dane lexend" horizontalAlignment="right" row="1" col="1"></Label>
                                </FlexboxLayout>
                                <FlexboxLayout class="center" col="2">
                                    <Label text="&#xe001;" class="strzalka icon"></Label>
                                </FlexboxLayout>
                            </GridLayout>

                            <Label text="Dane&#xA;personalne" row="4" col="0" class="opisCont opis lexend"></Label>

                            <GridLayout columns="*,25" rows="auto" row="4" col="1" class="daneCont">
                                <FlexboxLayout col="0" class="center" alignItems="flex-end">
                                    <StackLayout
                                        *ngIf="ministrant.ulica || ministrant.kod_pocztowy || ministrant.miasto || ministrant.telefon">
                                        <Label [text]="'ul. ' + ministrant.ulica" horizontalAlignment="right"
                                            class="dane lexend" *ngIf="ministrant.ulica !== null"></Label>
                                        <Label [text]="ministrant.kod_pocztowy + ' ' + ministrant.miasto"
                                            horizontalAlignment="right" class="dane lexend" *ngIf="ministrant.miasto !== null"></Label>
                                        <Label [text]="'tel. ' + ministrant.telefon" horizontalAlignment="right"
                                            class="dane lexend" *ngIf="ministrant.telefon !== null"></Label>
                                    </StackLayout>
                                    <Label text="Brak" class="dane lexend"
                                        *ngIf="!ministrant.ulica && !ministrant.kod_pocztowy && !ministrant.miasto && !ministrant.telefon"></Label>
                                </FlexboxLayout>
                            </GridLayout>

                            <FlexboxLayout *ngIf="this.ministrant.id_user !== userService.UserID && this.ministrant.aktywny === 1" row="4" col="0" colSpan="2" class="podkr">
                            </FlexboxLayout>

                            <Label text="Prawa&#xA;administratora" row="5" col="0" class="opisCont opis lexend" *ngIf="this.ministrant.id_user !== userService.UserID && this.ministrant.aktywny === 1"></Label>

                            <GridLayout columns="*,25" rows="auto" row="5" col="1" class="daneCont" *ngIf="this.ministrant.id_user !== userService.UserID && this.ministrant.aktywny === 1">
                            <FlexboxLayout col="0" class="center" alignItems="flex-end">
                                <FlexboxLayout width="30" height="30" alignItems="center" justifyContent="center">
                                    <ns-checkbox-zwykly (checkStatus)="nadajPrawa($event)" [stan]="checked"></ns-checkbox-zwykly>
                                </FlexboxLayout>
                            </FlexboxLayout>
                            </GridLayout>

                        </GridLayout>
                        <FlexboxLayout class="wh100 center" *ngIf="this.ui.ladowane[5]">
                            <ActivityIndicator [busy]="true"></ActivityIndicator>
                        </FlexboxLayout>
                    </StackLayout>
                </ScrollView>
                <Label class="shadow" verticalAlignment="top"></Label>
            </GridLayout>


        </StackLayout>
        <GridLayout columns="*,*" rows="60" row="1" class="przyciski">
            <Button [text]="this.form.valid && zmiana?'Anuluj':'Zamknij'" col="0" (tap)="zamknij()" class="anuluj b-p-10 audiowide" fontSize="17"></Button>
            <Button text="Zapisz" col="1" (tap)="zapisz()" class="anuluj b-p-10 zapisz audiowide" fontSize="17"
                [isEnabled]="zmiana && this.form.valid"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
