
.scroll
{
    background-color: white;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.naglowek
{
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.nagCont
{
    flex-direction: column;
    width: 85%;
    margin: 8;
}

.nagText
{
    font-size: 22;
    font-weight: 700;
    color: white;
    text-align: right;
    margin: 0;
    padding: 0;
}

.opis
{
    flex-wrap: true;
    color: rgb(80, 80, 80);
    font-size: 12;
}

.opisCont
{
    margin: 8;
    flex-direction: column;
    align-items: flex-start;
}

.podkr
{
    border-bottom-width: 1;
    border-color: rgb(200, 200, 200);
}

.daneCont
{
    justify-content: flex-end;
    align-items: center;
    margin: 10;
}

.punkty
{
    font-weight: 300;
    font-size: 17;
    color: #e71e25;
    margin-left: 4;
    margin-right: 4;
}

.przycisk
{
    color: rgb(40, 40, 40);
    font-weight: 500;
    background-color: white;
    border-radius: 20%;
    height: 30;
    width: 50;
    padding: 1;
    margin: 2;
}

.strzalka
{
    color: #e71e25;
    font-size: 15;
    margin: 1;
    padding: 1;
}

.center
{
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

.dane
{
    color: rgb(40, 40, 40);
    font-weight: 200;
    font-size: 12;
    flex-wrap: true;
    text-align: right;
    width: 100%;
}

.shadow
{
    height: 8;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3),rgba(0,0,0,0))
}

.checked
{
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.button
{
    border-width: 1;
    margin: 2;
    border-color: rgb(40, 40, 40);
    background-color: white;
    color: white;
    font-size: 12;
    font-weight: 900;
}

.button:highlighted
{
    background-color: white;
}

/* .button:pressed
{
    background-color: white;
} */
