<FlexboxLayout class="back center wh100" [formGroup]="form" (tap)="dismiss()">
    <GridLayout columns="*" rows="30,10,*,auto" class="grid">
        <FlexboxLayout class="flex center wh100" row="1" rowSpan="2" [formGroup]="form">
            <StackLayout width="90%" *ngIf="wyslanePrzyp === 0">
                <Label text="W celu utworzenia konta dla ministranta, wprowadź poniżej jego adres e-mail:"
                    class="stand lexend"></Label>
                <GridLayout columns="auto,*" rows="10,10,auto">
                    <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                        <TextField hint="Wpisz e-mail ministranta" class="text-field lexend" autocapitalizationType="words"
                            keyboardType="email" formControlName="email" #email></TextField>
                    </FlexboxLayout>
                    <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                        <Label text="E-MAIL" class="audiowide" marginLeft="3" marginRight="3"></Label>
                    </FlexboxLayout>
                </GridLayout>
                <Label text="Niepoprawny adres e-mail" class="red lexend" *ngIf="!emailValid"></Label>
                <GridLayout columns="*,30" rows="auto" width="85%" margin="10">
                    <!-- <FlexboxLayout col="0" class="center" alignItems="flex-end"> -->
                        <Label text="Uzyskałem zgodę na podanie adresu e-mail w celu utworzenia konta dla ministranta&#xA;(pole wymagane)" class="stand lexend"></Label>
                        <FlexboxLayout width="30" height="30" alignItems="center" justifyContent="center" col="1">
                            <ns-checkbox-zwykly (checkStatus)="check($event)" [stan]="false"></ns-checkbox-zwykly>
                        </FlexboxLayout>
                    <!-- </FlexboxLayout> -->
                    </GridLayout>
            </StackLayout>
                <Label text="Link aktywacyjny został wysłany na podany adres email. Jeśli przez dłuższy czas ministrant nie otrzymał wiadomości, należy sprawdzić zakładkę 'SPAM'."
                    class="stand lexend" width="90%" *ngIf="wyslanePrzyp === 1"></Label>
                <Label text="KOD AKTYWACYJNY JEST WAŻNY PRZEZ 30 MINUT!" class="stand lexend" textWrap="true" *ngIf="wyslanePrzyp === 1"  width="90%"></Label>
                <FlexboxLayout width="90%" *ngIf="wyslanePrzyp === 2" class="wh100 center">
                        <Label text="Adres e-mail:" class="stand audiowide"></Label>
                        <Label [text]="this.dane.email" class="stand lexend"></Label>
                        <Button text="Usuń dostep do&#xA;konta ministranta" class="anuluj zapisz b-p-10 audiowide" margin="20" fontSize="12" width="70%" (tap)="usun()"></Button>
                        <!-- <Label text="Niepoprawny adres e-mail" class="red lexend" *ngIf="!emailValid"></Label> -->
                </FlexboxLayout>
        </FlexboxLayout>

        <FlexboxLayout class="nowy center b-p-10" row="0" rowSpan="2">
            <Label text="Podpięte konto" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*,*,*" rows="60" row="3">
            <Button [text]="this.form.valid?'Anuluj':'Zamknij'" col="0" (tap)="powrot()" class="anuluj b-p-10 audiowide"
                *ngIf="wyslanePrzyp === 0" colSpan="2"></Button>
            <Button text="Wyślij" col="2" (tap)="wyslij()" class="anuluj b-p-10 zapisz audiowide"
                *ngIf="wyslanePrzyp === 0" [isEnabled]="this.form.valid && checked" colSpan="2"></Button>
                <Button text="Powrót" [col]="wyslanePrzyp === 1?0:1" (tap)="powrot()" class="anuluj b-p-10 audiowide"
                *ngIf="wyslanePrzyp === 1 || wyslanePrzyp === 2" colSpan="2"></Button>
                <Button text="Ponów" col="2" (tap)="wyslanePrzyp = 0" class="anuluj zapisz b-p-10 audiowide"
                *ngIf="wyslanePrzyp === 1" colSpan="2"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
