<FlexboxLayout class="back center wh100" [formGroup]="form" (swipe)="onSwipe($event)">
    <GridLayout columns="*" rows="30,10,*,auto" class="grid">
        <FlexboxLayout class="flex center wh100" row="1" rowSpan="2" [formGroup]="form">
            <StackLayout width="90%" *ngIf="!wyslanePrzyp">
                <Label text="W celu utworzenia konta dla ministranta, wprowadź poniżej jego adres e-mail:"
                    class="stand lexend"></Label>
                <GridLayout columns="auto,*" rows="10,10,auto">
                    <FlexboxLayout class="input-field center b-p-10 backg-20" row="1" rowSpan="2" col="0" colSpan="2">
                        <TextField hint="Wpisz e-mail ministranta" class="text-field lexend" autocapitalizationType="words"
                            keyboardType="email" formControlName="email" #email></TextField>
                    </FlexboxLayout>
                    <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta center">
                        <Label text="E-MAIL" class="audiowide" marginLeft="3" marginRight="3"></Label>
                    </FlexboxLayout>
                </GridLayout>
                <!-- <FlexboxLayout class="input-field margin-top">
                    <TextField hint="E-MAIL" class="text-field lexend" autocapitalizationType="words"
                        keyboardType="email" formControlName="email" #email></TextField>
                </FlexboxLayout> -->
                <Label text="Niepoprawny adres e-mail" class="red lexend" *ngIf="!emailValid"></Label>
            </StackLayout>
            <StackLayout width="90%" *ngIf="wyslanePrzyp">
                <Label
                    text="Link aktywacyjny został wysłany na podany adres email. Jeśli przez dłuższy czas ministrant nie otrzymał wiadomości, należy sprawdzić zakładkę 'SPAM'."
                    class="stand lexend"></Label>
            </StackLayout>
        </FlexboxLayout>

        <FlexboxLayout class="nowy center b-p-10" row="0" rowSpan="2">
            <Label text="Aktywacja konta" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*,*,*" rows="60" row="3">
            <Button text="Anuluj" col="0" colSpan="2" (tap)="powrot()" class="anuluj b-p-10 audiowide"
                *ngIf="!wyslanePrzyp"></Button>
            <Button text="Wyślij" col="2" colSpan="2" (tap)="wyslij()" class="anuluj b-p-10 zapisz audiowide"
                *ngIf="!wyslanePrzyp" [isEnabled]="this.form.valid"></Button>
            <Button text="Powrót" col="1" colSpan="2" (tap)="powrot()" class="anuluj b-p-10 zapisz audiowide"
                *ngIf="wyslanePrzyp"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
