<FlexboxLayout class="back wh100 center" justifyContent="flex-start" (swipe)="onSwipe($event)">
    <ScrollView (swipe)="onSwipe($event)">
        <StackLayout width="100%">
            <Label text="Brak wiadomości" class="brak lexend" *ngIf="wiadomosci.length === 0"></Label>
            <FlexboxLayout class="wh100 center" justifyContent="flex-end" *ngIf="wiadomosci.length > 0">
                <GridLayout *ngFor="let wiadomosc of wiadomosci" columns="auto,*" rows="auto,*" class="grid">
                    <FlexboxLayout class="red b-p-10" col="0" row="0" colSpan="2" *ngIf="!wiadomosc.do_opiekuna"></FlexboxLayout>
                    <StackLayout class="center" margin="7" marginLeft="15" col="0" row="0" *ngIf="!wiadomosc.do_opiekuna">
                        <Label [text]="wiadomosc.data.toString() | godzina"
                            class="godzina lexend"></Label>
                        <Label
                            [text]="dataFormat(wiadomosc)"
                            class="data lexend"></Label>
                    </StackLayout>
                    <FlexboxLayout class="wiadomosc center b-p-10" col="1" row="0" rowSpan="2" *ngIf="!wiadomosc.do_opiekuna">
                        <Label [text]="wiadomosc.autor_id === 0 ?  'ADMINISTRATOR' : 'OPIEKUN'" class="autor lexend"></Label>
                        <Label [text]="wiadomosc.tresc" class="tresc lexend"></Label>
                        <Image [src]="wiadomosc.linkobrazu" class="obraz lexend" *ngIf="wiadomosc.linkobrazu"></Image>
                        <Button text="Pobierz obraz" class="btn audiowide" (tap)="pobierzObraz(wiadomosc.linkobrazu)" *ngIf="wiadomosc.linkobrazu"></Button>
                    </FlexboxLayout>
                </GridLayout>
            </FlexboxLayout>
        </StackLayout>
    </ScrollView>
</FlexboxLayout>
