<FlexboxLayout class="back wh100 center" justifyContent="flex-start">
    <StackLayout width="100%">
        <Label text="Brak wiadomości" class="brak lexend" *ngIf="wiadomosci.length === 0 && !ui.ladowane[7]"></Label>
        <GridLayout *ngIf="wiadomosci.length !== 0 && !ui.ladowane[7]">
            <RadListView [items]="wiadomosci" separatorColor="black" [pullToRefresh]="!ui.ladowane[7]" (pullToRefreshInitiated)="onPullToRefreshInitiated($event)" (loaded)="onLoaded($event)" loadOnDemandMode="Auto" (loadMoreDataRequested)="onLoadMoreItemsRequested($event)"
                #radListView>
                <ListViewLinearLayout tkListViewLayout scrollDirection="Vertical">
                    <ng-template tkListItemTemplate let-item="item">
                        <GridLayout columns="auto,*" rows="45,*" class="grid" backgroundColor="black">
                            <FlexboxLayout class="red b-p-10" col="0" row="0" colSpan="2"></FlexboxLayout>
                            <StackLayout class="center" margin="7" marginLeft="15" col="0" row="0">
                                <Label [text]="item.data.toString() | godzina" class="godzina lexend"></Label>
                                <Label [text]="dataFormat(item)" class="data lexend"></Label>
                            </StackLayout>
                            <FlexboxLayout class="item b-p-10 center" col="1" row="0" rowSpan="2" backgroundColor="white">
                                <Label [text]="item.autor_id === 0 ?  'ADMINISTRATOR' : 'OPIEKUN'" class="autor lexend"></Label>
                                <Label [text]="item.tresc | uri" class="tresc lexend" #label></Label>
                                <Image [src]="item.linkobrazu" class="obraz lexend" *ngIf="item.linkobrazu" height="270"></Image>
                                <!-- <Button text="Pobierz obraz" class="btn audiowide b-p-10" (tap)="pobierzObraz(item.linkobrazu)" *ngIf="item.linkobrazu"></Button> -->
                            </FlexboxLayout>
                        </GridLayout>
                    </ng-template>
                </ListViewLinearLayout>
            </RadListView>
        </GridLayout>

        <FlexboxLayout class="wh100 center" *ngIf="ui.ladowane[7]">
            <ActivityIndicator [busy]="true"></ActivityIndicator>
        </FlexboxLayout>

    </StackLayout>
</FlexboxLayout>
