<FlexboxLayout class="wh100 center shadow" [style.visibility]="visible ? 'visible' : 'hidden'" (tap)="decide($event,undefined)">
    <GridLayout columns="*,*,*" rows="auto,30,auto" class="grid" #window>
        <FlexboxLayout row="1" rowSpan="2" col="0" colSpan="3" class="f">
            <Label [text]="text" class="text lexend"></Label>
            <GridLayout columns="*,*" rows="55">
                <Label text="NIE" col="0" class="btn tak audiowide" (tap)="decide($event,false)" (loaded)="onLabelLoaded($event)"></Label>
                <Label text="TAK" col="1" class="btn audiowide" (tap)="decide($event,true)" (loaded)="onLabelLoaded($event)"></Label>
            </GridLayout>
        </FlexboxLayout>
        <Image row="0" rowSpan="2" col="1" src="~/app/shared/modale/potwierdzenie-modal/alert.png"></Image>
    </GridLayout>
</FlexboxLayout>