.button
{
    border-width: 2;
    border-color: white;
    color: white;
    font-size: 14;
    font-weight: 900;
    padding: 0;
}


.obecny
{
    background: linear-gradient(to bottom,  rgb(49, 155, 49), rgb(28, 90, 28));
    border-color:transparent;
}

.nieobecny
{
    background: linear-gradient(to bottom, #e71e25,#720e11);
    border-color:transparent;
}
