.grid
{
    margin-top: 10;
    margin-bottom: 10;
    width: 100%;
    height: auto;
}

.godzina
{
    color: white;
    font-weight: bold;
    font-size: 10;
}

.data
{
    color: white;
    font-size: 10;
}

.red
{
    margin-right: 10;
    margin-left: 10;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
}

.black
{
    background: black;
    border-color: black;
    color: black
}

.wiadomosc
{   margin-right: 10;
    background-color: white;
    border-color: white;
}

.autor
{
    margin-top: 5;
    letter-spacing: 0.1;
    font-weight: 900;
    color: rgb(19, 19, 19);
    font-size: 15;
}

.tresc
{
    width: 95%;
    text-align: left;
    margin: 10;
    text-wrap: true;
    color: black;
    font-size: 14;
}

.obraz
{
    margin: 10;
    width: 90%;
}

.textview
{
    width: 95%;
    border-bottom-width: 2;
    border-color: white;
    font-size: 14;
    color: black;
    placeholder-color: black;
}

.flexEnd
{
    width: 100%;
    justify-content: flex-end;
}

.btn
{
    font-size: 12;
    width: 37%;
    color: white;
    background: linear-gradient(to bottom, #e71e25,#a5151a);
    border-color: transparent;
    margin: 5;
    height: 30;
}

.btn:pressed
{
    background: linear-gradient(to bottom, #a5151a,#640b0e);
}

.btn:disabled
{

    background: rgb(206, 206, 206);
    color: rgb(124, 124, 124);

}

.brak
{
    color: #e71e25;
    font-weight: 300;
    text-wrap: true;
    text-align: center;
    font-size: 15;
}
