
.button
{
    border-width: 1;
    margin: 2;
    border-color: rgb(160, 160, 160);
    background-color: white;
    color: white;
    font-size: 12;
    font-weight: 900;
}


.obecny
{
    background-color: rgb(49, 155, 49);
    border-color:  rgb(49, 155, 49);
}
