<FlexboxLayout class="back" (swipe)="onSwipe($event)">
    <GridLayout columns="*" rows="30,10,*,auto" class="grid">
        <FlexboxLayout class="flex" row="1" rowSpan="2">
            <ScrollView>
                <StackLayout [formGroup]="form">
                    <!-- <GridLayout rows="*,*,*" columns="*" class="margin-top" [formGroup]="form"> -->
                    <FlexboxLayout row="0" class="cont">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field" row="1" rowSpan="2" col="0" colSpan="2">
                                <TextField hint="Wpisz aktualne hasło" class="text-field lexend" formControlName="stare"
                                    autocapitalizationType="none" secure="true" #stare></TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta">
                                <Label text="AKTUALNE HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>
                        <!-- <FlexboxLayout class="input-field">
                            <TextField hint="STARE HASŁO" class="text-field lexend" formControlName="stare" autocapitalizationType="none" secure="true" #stare></TextField>
                        </FlexboxLayout> -->
                        <Label text="Niepoprawne aktualne hasło" class="red lexend" *ngIf="!stareValid"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout row="1" class="cont">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field" row="1" rowSpan="2" col="0" colSpan="2">
                                <TextField hint="Wpisz nowe hasło" class="text-field lexend" formControlName="nowe"
                                    autocapitalizationType="none" secure="true" #nowe></TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta">
                                <Label text="NOWE HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>
                        <!-- <FlexboxLayout class="input-field">
                        <TextField hint="NOWE HASŁO" class="text-field lexend" formControlName="nowe"
                            autocapitalizationType="none" secure="true" #nowe></TextField>
                    </FlexboxLayout> -->
                        <Label
                            text="Hasło musi mieć od 6 do 15 znaków oraz może składać się ze wszystkich liter alfabetu polskiego, cyfr i symboli: +,*,@,#,$,&,^,~,_,?"
                            class="red lexend" *ngIf="!noweValid"></Label>
                    </FlexboxLayout>
                    <FlexboxLayout row="2" class="cont">
                        <GridLayout columns="auto,*" rows="10,10,auto">
                            <FlexboxLayout class="input-field" row="1" rowSpan="2" col="0" colSpan="2">
                                <TextField hint="Powtórz nowe hasło" class="text-field lexend" formControlName="powtorz"
                                    autocapitalizationType="none" secure="true" #powtorz></TextField>
                            </FlexboxLayout>
                            <FlexboxLayout row="0" rowSpan="2" col="0" class="etykieta">
                                <Label text="POWTÓRZ HASŁO" class="audiowide" marginLeft="3" marginRight="3"></Label>
                            </FlexboxLayout>
                        </GridLayout>

                        <!-- <FlexboxLayout class="input-field">
                        <TextField hint="POWTÓRZ NOWE HASŁO" class="text-field lexend" formControlName="powtorz"
                            autocapitalizationType="none" secure="true" #powtorz></TextField>
                    </FlexboxLayout> -->
                        <Label text="Hasła się różnią" class="red lexend" *ngIf="!powtorzValid"></Label>
                    </FlexboxLayout>
                    <!-- </GridLayout> -->
                </StackLayout>
            </ScrollView>
        </FlexboxLayout>

        <FlexboxLayout class="nowy" row="0" rowSpan="2">
            <Label text="Zmień hasło" class="audiowide"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*" rows="60" row="3">
            <Button text="Anuluj" col="0" (tap)="anuluj()" class="anuluj audiowide"></Button>
            <Button text="Zapisz" col="1" (tap)="zapisz()" class="anuluj zapisz audiowide"
                [isEnabled]="this.form.valid"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
