<FlexboxLayout class="back center wh100">
    <GridLayout columns="*" rows="*,auto">
        <ScrollView row="0">
            <StackLayout class="flex2">

                <Label [text]="'p. pw. ' + parafiaService.nazwaParafii" class="opis audiowide" horizontalAlignment="center" (tap)="nawigujDo('zmien-haslo-o')"></Label>
                <GridLayout columns="auto,*" rows="auto,auto" width="90%">
                    <Label text="Punkty" class="opis lexend" col="0"></Label>
                    <Button text="Zmień punktajcę" class="click audiowide" col="1"
                        (tap)="nawigujDo('punktacja')"></Button>
                    <Button text="Wyzeruj punkty" class="click audiowide" col="1" row="1"
                        (tap)="wyzerujPunkty()"></Button>
                </GridLayout>

                <GridLayout columns="auto,*" rows="auto,auto" class="element">
                    <Label text="Wydarzenia" class="opis lexend" col="0"></Label>
                    <Button text="Edytuj Msze Święte" class="click audiowide" col="1"
                        (tap)="nawigujDo('edytuj-msze')"></Button>
                    <Button text="Usuń wszystkie dyżury" class="click audiowide" col="0" row="1" colSpan="2"
                        (tap)="usunDyzury()"></Button>
                </GridLayout>

                <GridLayout columns="auto,*" rows="auto,auto,auto" class="element">
                    <Label text="Konto parafii" class="opis lexend" col="0" row="0"></Label>
                    <Button text="Usuń konto" class="click audiowide" col="1" row="0"
                        (tap)="nawigujDo('usun-konto-o')"></Button>
                    <Button text="Zmień dane parafii" class="click audiowide" col="1" row="1" colSpan="2"
                        (tap)="nawigujDo('zmien-haslo-o')"></Button>
                    <Button text="Wyloguj się" class="click audiowide" col="1" row="2" (tap)="wyloguj()"></Button>
                </GridLayout>

            </StackLayout>
        </ScrollView>
        <FlexboxLayout class="flex2" row="2">
            <GridLayout columns="auto,*" rows="auto" class="element">
                <Label [text]="'LSO App ' + wersja" class="wersja lexend" col="0"></Label>
                <Button text="Kontakt" class="click audiowide" (tap)="kontakt()" col="1"></Button>
            </GridLayout>
            <GridLayout width="90%">
                <Button text="Informacje o aplikacji" class="click audiowide" (tap)="nawigujDo('info-o')"></Button>
            </GridLayout>
            <GridLayout width="90%">
                <Button text="Regulamin i polityka prywatności" class="click audiowide"
                    (tap)="otworzLink('https://lsoapp.pl/polityka-prywatnosci/')"></Button>
            </GridLayout>
        </FlexboxLayout>
    </GridLayout>
</FlexboxLayout>
