<FlexboxLayout class="back" (swipe)="onSwipe($event)">
    <GridLayout columns="*" rows="30,10,*,auto">

        <ScrollView class="scroll" row="1" rowSpan="2" (swipe)="onSwipe($event)">
            <FlexboxLayout class="stack">
                <Label class="cialo lexend"
                    text="LSO App powstała w celu ułatwienia zarządzania wspólnotą ministrancką, działającą przy parafii. Kluczowymi cechami aplikacji jest możliwość prowadzenia kontroli obecności na obowiązkowych dyżurach, klasyfikacji punktowej oraz komunikacji z podopiecznymi."></Label>
                <Label class="opis audiowide" text="Kontakt"></Label>
                <Label class="cialo lexend" text="kontakt@lsoapp.pl"></Label>
                <Label class="opis audiowide" text="Twórcy"></Label>
                <Label class="cialo lexend"
                    text="Rafał Nazarko &#xA;Marcel Górski&#xA;Sebastian Sobkowiak&#xA;Tomasz Wąsacz"></Label>
            </FlexboxLayout>
        </ScrollView>

        <FlexboxLayout class="flex msze" row="0" rowSpan="2">
            <Label text="Informacje" class="audiowide size"></Label>
        </FlexboxLayout>

        <GridLayout columns="*,*,*,*" rows="60" row="3" class="przyciski">
            <Button text="Zamknij" col="1" colSpan="2" (tap)="zamknij()" class="anuluj audiowide size"></Button>
        </GridLayout>
    </GridLayout>
</FlexboxLayout>
