/* Add mobile styles for the component here.  */

.scroll
{
    width: 90%;
    height: 100%;
    background-color: white;
}

.cialo
{
    text-align: center;
    font-size: 15;
    color: black;
    margin-bottom: 10;
    margin-top: 2;
    margin-left: 10;
    margin-right: 10;
    text-wrap: true;
}

.opis
{
    text-align: center;
    color: black;
    font-weight: 200;
    font-size: 17;
}
