<ModalStack height="100%">
    <FlexboxLayout class="f center">
            <StackLayout>
                <Label text="Zaloguj jako" horizontalAlignment="center" class="lexend label"></Label>
                <GridLayout columns="*,*" rows="auto">
                    <!-- <FlexboxLayout flexDirection="column" col="0" row="0" class="btn"> -->
                        <Button (tap)="wybierz(0)" col="0" row="0" class="btn audiowide">
                            <FormattedString margin="5"> 
                                <Span text="&#xe092;&#xA;" class="icon tranp" fontSize="50"></Span>
                                <Span text="Ministrant" class="audiowide tranp"></Span>
                            </FormattedString>
                        </Button>
                    <!-- </FlexboxLayout> -->
                    <!-- <FlexboxLayout flexDirection="column" col="1" row="0" class="btn"> -->
                        <Button (tap)="wybierz(1)" col="1" row="0" class="btn audiowide">
                            <FormattedString>
                                <Span text="&#xe036;&#xA;" class="icon tranp" fontSize="50"></Span>
                                <Span text="Opiekun" class="audiowide tranp"></Span>
                            </FormattedString>
                        </Button>
                    <!-- </FlexboxLayout> -->
                </GridLayout>
            </StackLayout>
    </FlexboxLayout>
</ModalStack>
