<FlexboxLayout class="flex" (swipe)="onSwipe($event)">
    <StackLayout class="stackG">
        <FlexboxLayout class="flex2">
            <Label [text]="'Cześć ' + user.imie + '!'" class="czesc lexend"></Label>
            <Label text="Twoje dyżury:" class="text lexend"></Label>
        </FlexboxLayout>
        <GridLayout rows="20,*,20,*,20,*,20,*,20,*,20,*,20," columns="*,20,*" class="grid">
            <Label class="dzienK" col="1" row="0"></Label>
            <Label class="przerwa" col="1" row="1"></Label>
            <Label class="dzienK" col="1" row="2"></Label>
            <Label class="przerwa" col="1" row="3"></Label>
            <Label class="dzienK" col="1" row="4"></Label>
            <Label class="przerwa" col="1" row="5"></Label>
            <Label class="dzienK" col="1" row="6"></Label>
            <Label class="przerwa" col="1" row="7"></Label>
            <Label class="dzienK" col="1" row="8"></Label>
            <Label class="przerwa" col="1" row="9"></Label>
            <Label class="dzienK" col="1" row="10"></Label>
            <Label class="przerwa" col="1" row="11"></Label>
            <Label class="dzienK" col="1" row="12"></Label>
            <Label class="dzis" col="1" [row]="dzis"></Label>

            <Label text="poniedziałek" col="0" row="0" class="dzien lexend" *ngIf="dyzurNaDanyDzien(1).length > 0"></Label>
            <Label text="wtorek" col="0" row="2" class="dzien lexend" *ngIf="dyzurNaDanyDzien(2).length > 0"></Label>
            <Label text="środa" col="0" row="4" class="dzien lexend" *ngIf="dyzurNaDanyDzien(3).length > 0"></Label>
            <Label text="czwartek" col="0" row="6" class="dzien lexend" *ngIf="dyzurNaDanyDzien(4).length > 0"></Label>
            <Label text="piątek" col="0" row="8" class="dzien lexend" *ngIf="dyzurNaDanyDzien(5).length > 0"></Label>
            <Label text="sobota" col="0" row="10" class="dzien lexend" *ngIf="dyzurNaDanyDzien(6).length > 0"></Label>
            <Label text="niedziela" col="0" row="12" class="dzien lexend" *ngIf="dyzurNaDanyDzien(0).length > 0"></Label>

            <FlexboxLayout row="0" col="2" rowSpan="2" class="stackG" flexDirection="row" flexWrap="wrap" *ngIf="dyzurNaDanyDzien(1).length > 0">
                <Label *ngFor="let dyzur of dyzurNaDanyDzien(1)" [text]="dyzur.godzina.toString() | godzina"
                    class="godzina lexend"></Label>
            </FlexboxLayout>

            <FlexboxLayout row="2" col="2" rowSpan="2" class="stackG" flexDirection="row" flexWrap="wrap" *ngIf="dyzurNaDanyDzien(2).length > 0">
                <Label *ngFor="let dyzur of dyzurNaDanyDzien(2)" [text]="dyzur.godzina.toString() | godzina"
                    class="godzina lexend"></Label>
            </FlexboxLayout>

            <FlexboxLayout row="4" col="2" rowSpan="2" class="stackG" flexDirection="row" flexWrap="wrap" *ngIf="dyzurNaDanyDzien(3).length > 0">
                <Label *ngFor="let dyzur of dyzurNaDanyDzien(3)" [text]="dyzur.godzina.toString() | godzina"
                    class="godzina lexend"></Label>
            </FlexboxLayout>

            <FlexboxLayout row="6" col="2" rowSpan="2" class="stackG" flexDirection="row" flexWrap="wrap" *ngIf="dyzurNaDanyDzien(4).length > 0">
                <Label *ngFor="let dyzur of dyzurNaDanyDzien(4)" [text]="dyzur.godzina.toString() | godzina"
                    class="godzina lexend"></Label>
            </FlexboxLayout>

            <FlexboxLayout row="8" col="2" rowSpan="2" class="stackG" flexDirection="row" flexWrap="wrap" *ngIf="dyzurNaDanyDzien(5).length > 0">
                <Label *ngFor="let dyzur of dyzurNaDanyDzien(5)" [text]="dyzur.godzina.toString() | godzina"
                    class="godzina lexend"></Label>
            </FlexboxLayout>

            <FlexboxLayout row="10" col="2" rowSpan="2" class="stackG" flexDirection="row" flexWrap="wrap" *ngIf="dyzurNaDanyDzien(6).length > 0">
                <Label *ngFor="let dyzur of dyzurNaDanyDzien(6)" [text]="dyzur.godzina.toString() | godzina"
                    class="godzina lexend"></Label>
            </FlexboxLayout>

            <FlexboxLayout row="12" col="2" rowSpan="2" class="stackG" flexDirection="row" flexWrap="wrap" *ngIf="dyzurNaDanyDzien(0).length > 0">
                <Label *ngFor="let dyzur of dyzurNaDanyDzien(0)" [text]="dyzur.godzina.toString() | godzina"
                    class="godzina lexend"></Label>
            </FlexboxLayout>
        </GridLayout>
    </StackLayout>
</FlexboxLayout>
